<template id="custom_img_Template">
  <div class="placeholder-glow">
    <div class="ratio placeholder" style="--tblr-aspect-ratio:150%;"></div>
  </div>
  <div class="ratio img" style="display: none;">
    <img onerror="this.src='../static/img/no-image.png'" alt=""/>
  </div>
</template>
<script type="text/javascript">
  window.customElements.define("custom-img",
  class extends HTMLElement {
    constructor() {
      super();
      const custom_img = document.getElementById("custom_img_Template").content.cloneNode(true);
      const img_src = this.getArgs("img-src", "../static/img/no-image.png");
      const img_class = this.getArgs("img-class");
      const img_style = this.getArgs("img-style");
      const img_ratio = this.getArgs("img-ratio", "150%");
      const div_placeholder = custom_img.querySelector("div.placeholder");
      div_placeholder.setAttribute("style", `--tblr-aspect-ratio:${img_ratio};` + img_style);
      const div_img = custom_img.querySelector("div.img");
      const img = custom_img.querySelector("img");
      img.addEventListener("load", function () {
        div_placeholder.style.display = "none";
        div_img.setAttribute("style", `--tblr-aspect-ratio:${img_ratio};`);
      });
      img.setAttribute("src", img_src);
      img.setAttribute("style", img_style);
      if (img_class) {
        for (let value of img_class.split(" ")){
          img.classList.add(value);
        }
      }
      this.div_placeholder = div_placeholder;
      this.div_img = div_img;
      this.img = img;
      this.appendChild(custom_img);
    }

    static get observedAttributes() {return ["img-src"]; }
    attributeChangedCallback(name, oldValue, newValue) {
      if (name == "img-src" && oldValue != newValue) {
        this.div_placeholder.style.display = "";
        this.div_img.style.display = "none";
        this.img.setAttribute("src", newValue);
      }
    }

    getArgs(name, default_value) {
      if (!default_value) {
        default_value = "";
      }
      let value = this.getAttribute(name);
      if (!value || value == "None" || value == "null") {
        return default_value;
      } else {
        return value;
      }
    }
  });
</script>