<template id="media_slide_Template">
  <style>
    .media-slide-hide-scrollbar{
      overflow-x: scroll!important;
      overscroll-behavior-x: contain!important;
      scrollbar-width: none!important;
      -ms-overflow-style: none!important;
    }
    .media-slide-hide-scrollbar::-webkit-scrollbar{
      display: none;
    }
    .media-slide-card-number{
      position: relative;
      flex:0 0 auto;
      width:45.45454545454545%;
    }
    @media (min-width: 768px) {
      .media-slide-card-number{
        width:30.3030303030303%;
      }
    }
    @media (min-width: 900px) {
      .media-slide-card-number{
        width:23.25581395348837%;
      }
    }
    @media (min-width: 1150px) {
      .media-slide-card-number{
        width:18.86792452830189%;
      }
    }
    @media (min-width: 1400px) {
      .media-slide-card-number{
        width:15.87301587301587%;
      }
    }
  </style>
  <div class="container-fluid" style="overflow: hidden;">
    <div class="page-header d-print-none">
      <div class="d-flex justify-content-between">
        <div class="d-inline-flex">
          <a class="media-slide-title-click nav-link" aria-label="Button">
            <h2 class="media-slide-title my-1">
              <strong></strong>
            </h2>
            <div class="media-slide-icon ms-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-arrow-up-right-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="9"></circle>
                <line x1="15" y1="9" x2="9" y2="15"></line>
                <polyline points="15 15 15 9 9 9"></polyline>
             </svg>
            </div>
          </a>
        </div>
        <div class="col-auto ms-auto d-print-none">
          <div class="d-inline-flex">
            <a class="media-slide-left btn btn-sm btn-icon btn-link text-muted border-0" aria-label="Button">
              <svg xmlns="http://www.w3.org/2000/svg" class="btn-icon icon-tabler icon-tabler-chevron-left" width="24" height="24"
                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                   stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="15 6 9 12 15 18"></polyline>
              </svg>
            </a>
            <a class="media-slide-right btn btn-sm btn-icon btn-link border-0 text-muted" aria-label="Button">
              <svg xmlns="http://www.w3.org/2000/svg" class="btn-icon icon-tabler icon-tabler-chevron-right" width="24" height="24"
                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                   stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="9 6 15 12 9 18"></polyline>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="media-slide-hide-scrollbar pt-2">
      <div class="row row-cards d-flex flex-row flex-nowrap media-slide-card-number">
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
  window.customElements.define("media-slide",
  class extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      let media_slide;
      if (this.innerHTML == "") {
        //console.log("初始化..")
        media_slide = document.getElementById("media_slide_Template").content.cloneNode(true);
      } else {
        //console.log("被重载..")
        media_slide = this;
      }
      // 读取参数
      const slide_title = this.getArgs("slide-title");
      const slide_icon = this.getArgs("slide-icon");
      const slide_click = this.getArgs("slide-click");
      const slide_card = this.getArgs("slide-card");
      // 选择节点
      const media_slide_icon = media_slide.querySelector(".media-slide-icon");
      const media_slide_title = media_slide.querySelector(".media-slide-title>strong");
      const media_slide_title_click = media_slide.querySelector(".media-slide-title-click");
      const div_row = media_slide.querySelector("div.row");
      const media_slide_left = media_slide.querySelector(".media-slide-left");
      const media_slide_right = media_slide.querySelector(".media-slide-right");
      const media_slide_scrollbar = media_slide.querySelector(".media-slide-hide-scrollbar");
      // 需要更新状态的组件
      this.div_row = div_row;
      // 监听事件
      media_slide_left.addEventListener("click", e => {
        const scroll_px = media_slide_scrollbar.scrollLeft;
        const card_width = div_row.getBoundingClientRect().width;
        const card_index = (scroll_px == 0 ? 0 : Math.trunc((scroll_px + card_width / 2) / card_width)) - Math.trunc(media_slide_scrollbar.clientWidth / card_width);
        let run_to_left_px = card_index * card_width;
        if (run_to_left_px <= 0) {
          run_to_left_px = 0;
        }
        $(media_slide_scrollbar).animate({
          scrollLeft: run_to_left_px
        }, 350, function(){
          media_slide_scrollbar.scrollLeft = run_to_left_px;
        });
      })
      media_slide_right.addEventListener("click", e => {
        const scroll_px = media_slide_scrollbar.scrollLeft;
        const card_width = div_row.getBoundingClientRect().width;
        const card_index = (scroll_px == 0 ? 0 : Math.trunc((scroll_px + card_width / 2) / card_width)) + Math.trunc(media_slide_scrollbar.clientWidth / card_width);
        let run_to_left_px = card_index * card_width;
        if (run_to_left_px >= media_slide_scrollbar.scrollWidth - media_slide_scrollbar.clientWidth) {
          run_to_left_px = media_slide_scrollbar.scrollWidth - media_slide_scrollbar.clientWidth;
        }
        $(media_slide_scrollbar).animate({
          scrollLeft: run_to_left_px
        }, 350, function(){
          media_slide_scrollbar.scrollLeft = run_to_left_px;
        });
      })
      media_slide_scrollbar.addEventListener("scroll", e => {
        if (media_slide_scrollbar.scrollLeft == 0) {
          media_slide_left.classList.add("disabled");
        } else {
          media_slide_left.classList.remove("disabled");
        }
        if (media_slide_scrollbar.scrollLeft >= media_slide_scrollbar.scrollWidth - media_slide_scrollbar.clientWidth - 2){
          media_slide_right.classList.add("disabled");
        } else {
          media_slide_right.classList.remove("disabled");
        }
      })
      // 重置箭头状态
      media_slide_left.classList.add("disabled");
      media_slide_right.classList.remove("disabled");
      // 初始化数据
      if (this.innerHTML == "") {
        if (slide_icon == "refresh") {
          media_slide_icon.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-refresh" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path></svg>`;
        }
        media_slide_title.innerHTML = slide_title
        if (slide_click) {
          media_slide_title_click.setAttribute("href", slide_click);
        }
        // 生成占位卡片
        let html = "";
        for (let i=0; i<10; i++) {
          html += "<normal-card-placeholder></normal-card-placeholder>";
        }
        div_row.innerHTML = html;
        // 往组件内部加入初始化数据
        this.appendChild(media_slide);
      }
    }

    is_placeholder(){
      if (this.querySelector("normal-card-placeholder")){
        return true;
      } else {
        return false;
      };
    }

    update_slide_card(newValue, page_type){
      let html = "";
      for (let item of newValue){
        html += `
          <normal-card
            card-tmdbId="${item.id}"
            card-pageType="${item.page_type ? item.page_type : page_type}"
            card-showSub="1"
            card-image="${item.image}"
            card-weekday="${item.weekday}"
            card-fav="${item.fav}"
            card-vote="${item.vote}"
            card-year="${item.year}"
            card-title="${item.title}"
            card-overview="${item.overview}"
          ></normal-card>`;
      }
      this.div_row.innerHTML = html;
    }

    getArgs(name, default_value) {
      if (!default_value) {
        default_value = "";
      }
      let value = this.getAttribute(name);
      if (!value || value == "None" || value == "null") {
        return default_value;
      } else {
        return value;
      }
    }
  });
</script>