<!-- 卡片主体 -->
<template id="normalCard_Template">
  <div class="card card-sm card-link-pop rounded-4 border-1 shadow"
       style="--tblr-border-opacity: 1;border-color: rgb(128, 128, 128);overflow: hidden;">
    <!-- 图像加载占位图 -->
    <div class="placeholder-glow normalcard_placeholder">
      <div class="ratio placeholder rounded-4"
           style="--tblr-aspect-ratio: 150%">
      </div>
    </div>
    <!-- 卡片默认页面 -->
    <div style="display: none" class="normalcard_link">
      <div class="ratio" style="--tblr-aspect-ratio: 150%">
        <img class="card-img" onerror="this.src='../static/img/no-image.png'" alt="" src=""/>
      </div>
    </div>
    <!-- 卡片被选中时 -->
    <div class="card-img-overlay ms-auto normalcard_more"
         style="display: none; background-color: rgba(0, 0, 0, 0.5)">
      <div style="cursor: pointer">
        <!-- 小标题 -->
        <div class="text-white"><strong></strong></div>
        <!-- 大标题 -->
        <h2 class="lh-sm text-white"
            style="margin-bottom: 5px; -webkit-line-clamp:3; display: -webkit-box; -webkit-box-orient:vertical; overflow:hidden; text-overflow: ellipsis;">
          <strong></strong>
        </h2>
        <!-- 大文本 -->
        <p class="lh-sm text-white"
           style="margin-bottom: 5px; -webkit-line-clamp:4; display: -webkit-box; -webkit-box-orient:vertical; overflow:hidden; text-overflow: ellipsis;">
        </p>
        <!-- 小文本 -->
        <p class="lh-sm text-white"
           style="margin-bottom: 5px; -webkit-line-clamp:4; display: -webkit-box; -webkit-box-orient:vertical; overflow:hidden; text-overflow: ellipsis;">
          <small></small>
        </p>
      </div>
    </div>
  </div>
</template>
<!-- 星期几图标 -->
<template id="normalCard_Template_weekday">
  <span class="badge badge-pill"
        style="position: absolute; top: 10px; left: 10px">
  </span>
</template>
<!-- 已下载图标 -->
<template id="normalCard_Template_downloaded">
  <div class="badge badge-pill bg-green" style="position:absolute;top:10px;left:10px;padding:0;">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24" height="24"
       viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
       stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M5 12l5 5l10 -10"></path>
    </svg>
  </div>
</template>
<!-- 评分图标 -->
<template id="normalCard_Template_vote">
  <div class="badge badge-pill bg-purple"
       style="position: absolute; top: 10px; right: 10px">
  </div>
</template>
<!-- 搜索和订阅按钮 -->
<template id="normalCard_Template_SeaSub">
  <div class="d-flex justify-content-between">
    <a class="text-muted" title="搜索资源" onclick="window.event.cancelBubble=true;">
      <span class="icon-pulse text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24"
             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
             stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="10" cy="10" r="7"></circle>
          <line x1="21" y1="21" x2="15" y2="15"></line>
        </svg>
      </span>
    </a>
    <div class="ms-auto">
      <div class="text-muted" title="加入/取消订阅" style="cursor: pointer">
        <span class="icon-pulse text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="24" height="24"
               viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
               stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
  class normalCard extends HTMLElement {
    constructor() {
      super();
      // 内部自生成卡片id
      if (sessionStorage.normalCard_data_card_id){
        sessionStorage.normalCard_data_card_id++;
      } else {
        sessionStorage.normalCard_data_card_id = 1;
      }
      const my_card = document.getElementById("normalCard_Template").content.cloneNode(true);
      // 读取参数
      const card_id = this.getArgs("card-id", sessionStorage.normalCard_data_card_id);
      const tmdb_id = this.getArgs("card-tmdbId");
      const res_type = this.getArgs("card-resType");
      const page_type = this.getArgs("card-pageType");
      const showSub = this.getArgs("card-showSub");
      const title = this.getArgs("card-title");
      const fav = this.getArgs("card-fav");
      const date = this.getArgs("card-date");
      const vote = this.getArgs("card-vote");
      const image = this.getArgs("card-image");
      const overview = this.getArgs("card-overview");
      const year = this.getArgs("card-year");
      const site = this.getArgs("card-site");
      const weekday = this.getArgs("card-weekday");
      // 设置元素事件与id
      const div_card = my_card.querySelector("div.card");
      div_card.addEventListener("click", e => {
        if (is_touch_device()){
          if (sessionStorage.normalCard_data_lastcard_more) {
            $(`#normalcard_more_${sessionStorage.normalCard_data_lastcard_more}`).hide();
          }
          sessionStorage.normalCard_data_lastcard_more = card_id;
          $(`#normalcard_more_${card_id}`).show();
        }
      });
      div_card.addEventListener("mouseenter", e => {
        if (!is_touch_device()){
          $(`#normalcard_more_${card_id}`).show();
        }
      });
      div_card.addEventListener("mouseleave", e => {
        if (!is_touch_device()){
          $(`#normalcard_more_${card_id}`).hide();
        }
      });
      my_card.querySelector(".normalcard_placeholder").setAttribute("id", "normalcard_placeholder_" + card_id);
      const img = my_card.querySelector("img.card-img");
      img.setAttribute("src", image ? image : "../static/img/no-image.png");
      img.addEventListener("load", e => {
        $(`#normalcard_placeholder_${card_id}`).hide();
        $(`#normalcard_link_${card_id}`).show();
      });
      const card_link = my_card.querySelector(".normalcard_link");
      card_link.setAttribute("id", "normalcard_link_" + card_id);
      if (weekday || res_type) {
        const card_weekday = document.getElementById("normalCard_Template_weekday").content.cloneNode(true);
        const card_weekday_span = card_weekday.querySelector("span");
        if (weekday) {
          card_weekday_span.classList.add(fav == "2" ? "bg-green" : "bg-orange");
          card_weekday_span.innerHTML = weekday;
        } else {
          card_weekday_span.classList.add(res_type == "电影" ? "bg-green" : "bg-blue");
          card_weekday_span.innerHTML = res_type;
        }
        card_link.appendChild(card_weekday);
      } else if (fav == "2") {
        card_link.appendChild(document.getElementById("normalCard_Template_downloaded").content.cloneNode(true));
      }
      if (vote && vote != "0.0" && vote != "0") {
        const card_vote = document.getElementById("normalCard_Template_vote").content.cloneNode(true);
        card_vote.querySelector("div").innerHTML = vote;
        card_link.appendChild(card_vote);
      }
      const card_more = my_card.querySelector(".normalcard_more");
      card_more.setAttribute("id", "normalcard_more_" + card_id);
      card_more.addEventListener("click", e => {
        show_mediainfo_modal(page_type, title, year, tmdb_id, 'recommend?t=' + page_type);
      });
      // 设置元素数据
      if (year) {
        my_card.querySelector("div>strong").innerHTML = site ? site : year;
      }
      if (title) {
        my_card.querySelector("h2>strong").innerHTML = title;
      }
      if (overview) {
        my_card.querySelector("p").innerHTML = overview;
      }
      if (date) {
        my_card.querySelector("p>small").innerHTML = date;
      }
      if (showSub == "1"){
        const card_seasub = document.getElementById("normalCard_Template_SeaSub").content.cloneNode(true);
        card_seasub.querySelector("div.d-flex>a").setAttribute("href", `javascript:show_mediainfo_modal("${page_type}", "${title}", "${year}", "${tmdb_id}", "recommend?t=${page_type}", "", true)`);
        const card_seasub_sub = card_seasub.querySelector("div.ms-auto>div");
        const card_seasub_sub_love = card_seasub_sub.querySelector("svg");
        if (fav == "1"){
          card_seasub_sub_love.classList.add("icon-filled", "text-red");
        }
        card_seasub_sub.addEventListener("click", e => {
          // 如果已经订阅
          if (card_seasub_sub_love.classList.contains("text-red")){
            show_ask_modal("是否确定将 " + title + " 从订阅中移除？", function () {
              hide_ask_modal();
              remove_rss_media(title, year, page_type, "", "", tmdb_id, function () {
                card_seasub_sub_love.classList.remove("icon-filled", "text-red");
              });
            });
          } else {
            show_ask_modal("是否确定订阅： " + title + "？", function () {
              hide_ask_modal();
              function add_red_heart(){
                card_seasub_sub_love.classList.add("icon-filled", "text-red");
              }
              // 添加订阅关键字
              let tid;
              let did;
              if (tmdb_id && tmdb_id.startsWith("DB:")) {
                did = tmdb_id.replace("DB:", "");
                tid = "";
              } else if (isNaN(tmdb_id)) {
                did = "";
                tid = "";
              } else {
                did = "";
                tid = tmdb_id;
              }
              if (!tid || ["hm", "nm", "dbom", "dbnm", "dbhm", "dbtop"].includes(page_type)) {
                add_rss_media(title, year, page_type, tid, did, "", "", add_red_heart);
              } else {
                ajax_post("get_tvseason_list", { tmdbid: tid }, function (ret) {
                  if (ret.seasons.length === 1) {
                    add_rss_media(title, year, "TV", tid, did, "", "", add_red_heart);
                  } else if (ret.seasons.length > 1) {
                    show_rss_seasons_modal(title, year, "TV", tid, did, ret.seasons, add_red_heart);
                  } else {
                    show_fail_modal(title + " 添加RSS订阅失败：未查询到季信息！");
                  }
                });
              }
            });
          }
          e.stopPropagation();
        });
        card_more.appendChild(card_seasub);
      }
      this.innerHTML = "";
      this.appendChild(my_card);
    }
  
    getArgs(name, default_value) {
      if (!default_value) {
        default_value = "";
      }
      let value = this.getAttribute(name);
      if (!value || value == "None" || value == "null") {
        return default_value;
      } else {
        return value;
      }
    }
  }

  // 声明自定义元素
  window.customElements.define("normal-card", normalCard);
</script>
