markupsafe==2.0.1
flask==1.1.4
requests>=2.21.0
urllib3>=1.24.2
APScheduler>=3.7.0
tmdbv3api>=1.7.5
qbittorrent-api>=2021.5.21
watchdog>=2.1.2
configparser>=3.5.0
youtube-dl>=2021.6.6
flask-httpauth==4.5.0
pycryptodome==3.12.0
pyyaml>=6.0
