markupsafe>=2.1.1
flask>=2.1.1
requests[socks]>=2.27.1
urllib3>=1.26.9
APScheduler>=3.9.1
tmdbv3api>=1.7.6
qbittorrent-api>=2022.4.30
watchdog>=2.1.7
flask-httpauth>=4.5.0
pycryptodome>=3.14.1
pyyaml>=6.0
transmission-rpc>=3.3.0
lxml>=4.8.0
beautifulsoup4>=4.11.1
flask-login>=0.6.0
cn2an>=0.5.16
anitopy>=2.1.0
supervisor>=4.2.4
ruamel.yaml>=0.17.19