markupsafe>=2.1.1
flask>=2.1.1
requests[socks]>=2.27.1
urllib3>=1.26.9
APScheduler>=3.9.1
watchdog>=2.1.7
flask-httpauth>=4.5.0
pycryptodome>=3.14.1
pyyaml>=6.0
lxml>=4.8.0
beautifulsoup4>=4.11.1
flask-login>=0.6.0
supervisor>=4.2.4
ruamel.yaml>=0.17.19
parse>=1.19.0
bencode.py>=4.0.0
cacheout>=0.13.1
cssselect>=1.1.0
pyquery>=1.4.3
zhconv>=1.4.3