<!-- 生成配置对应的表单元素 -->
{% macro meta_link() %}
  <meta charset="utf-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=0">
  <meta name="Robots" content="noindex,nofollow,noarchive">
  <link rel="icon" type="image/png" href="../static/img/logo.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/logo-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/logo-16x16.png">
  <link rel="apple-touch-icon" sizes="256x256" href="../static/img/logo-black.png">
  <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-startup-image" href="../static/img/startup.jpg">
  <link rel="manifest" href="../static/site.webmanifest" crossorigin="use-credentials">
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="NAStool">
  <meta name="description" content="NAS媒体库资源归集整理自动化工具">
  <meta name="format-detection" content="telephone=no">
  <meta name="referrer" content="never">
  <meta name="msapplication-TileColor" content="#1e293b"/>
  <meta name="theme-color" content="#f1f6fa" media="(prefers-color-scheme: dark)">
  <meta name="theme-color" content="#1e293b" media="(prefers-color-scheme: light)">
  <meta name="HandheldFriendly" content="True"/>
  <meta name="MobileOptimized" content="320"/>
{% endmacro %}

