<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">近期下载</h2>
      </div>
    </div>
  </div>
</div>
{% if Count > 0 %}
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      {% for item in Items %}
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="card card-sm card-link-pop rounded-3">
          <span class="badge badge-pill {% if item[3] == '电影' %}bg-green{% else %}bg-blue{% endif %}" style="position:absolute;top:10px;left:10px;">{{item[3]}}</span>
          {% if item[5] > '0' %}
          <div class="badge badge-pill bg-purple" style="position:absolute;top:10px;right:10px;">{{ item[5] }}</div>
          {% endif %}
          <a href='javascript:show_mediainfo_modal("{% if item[3] == "电影" %}MOV{% else %}TV{% endif %}", "{{ item[1] }}", "{{ item[2] }}", "{{ item[4] }}")' title="{{ item[1] }} ({{ item[2] }})" class="d-block">
            <img src="{{ item[6] or '../static/img/no-image.png' }}" class="card-img-top" style="border-top-left-radius:8px !important; border-top-right-radius:8px !important" title="站点：{{ item[12] }}<br>种子：{{ item[8] }}<br>时间：{{ item[11] }}" data-bs-toggle="tooltip" data-bs-html="true">
          </a>
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <div><strong>{{ item[1] }}</strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="page-body">
  <div class="container-xl d-flex flex-column justify-content-center">
    <div class="empty">
      <div class="empty-img"><img src="./static/img/posting_photo.svg" height="128"  alt="">
      </div>
      <p class="empty-title" id="search_tip_title">没有记录</p>
      <p class="empty-subtitle text-muted" id="search_tip_text">
        近期没有下载任何影视资源
      </p>
    </div>
  </div>
</div>
{% endif %}