<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">近期下载</h2>
      </div>
    </div>
  </div>
</div>
{% if Count > 0 %}
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards" id="downloaded_content">
        {% for item in Items %}
          <div class="col-6 col-sm-4 col-md-3 col-xl-2">
            <normal-card
              card-tmdbId="{{ item.TMDBID }}"
              card-pageType="{% if item.TYPE == '电影' %}MOV{% else %}TV{% endif %}"
              card-resType="{{ item.TYPE }}"
              card-showSub="0"
              card-image="{{ item.POSTER }}"
              card-vote="{{ item.VOTE }}"
              card-year="{{ item.YEAR }}"
              card-site="{{ item.SITE }}"
              card-title="{{ item.TITLE }}"
              card-overview="{{ item.TORRENT }}"
              card-date="{{ item.DATE }}"
            ></normal-card>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div class="page-body">
    <div class="container-xl d-flex flex-column justify-content-center">
      <div class="empty">
        <div class="empty-img"><img src="./static/img/posting_photo.svg" height="128" alt="">
        </div>
        <p class="empty-title" id="search_tip_title">没有记录</p>
        <p class="empty-subtitle text-muted" id="search_tip_text">
          近期没有下载任何影视资源
        </p>
      </div>
    </div>
  </div>
{% endif %}
<script type="text/javascript">
  //状态标记
  var loading = false;
  var CurrentPage = 1;

  // 插入N个占位卡片 代替loading动画
  var page_card_num = {{ Count }};
  function add_loading_card_placeholder() {
    for (let i = 0; i < page_card_num; i++) {
      let html = '<div class="col-6 col-md-3 col-xl-2" id="loading_card_placeholder_' + i + '"><normal-card-placeholder></normal-card-placeholder></div>';
      $("#recommend_content").append(html);
    }
  }

  // 移除占位卡片
  function del_loading_card_placeholder() {
    $("div[id^='loading_card_placeholder_']").each(function(){
      $(this).remove();
    })
  }

  // 加载更多
  function loading_data() {
    if (loading) {
      return;
    }
    loading = true;
    CurrentPage++;
    add_loading_card_placeholder();
    ajax_post("get_downloaded", {"page": CurrentPage}, function (ret) {
      if (ret.Items.length > 0) {
        loading = false;
      }
      del_loading_card_placeholder();
      // 插入HTML
      for (let i = 0; i < ret.Items.length; i++) {
        let item = ret.Items[i];
        let meida_type = item.TYPE == "电影" ? "MOV":"TV";
        let html = '';
        html += '<div class="col-6 col-sm-4 col-md-3 col-xl-2">'
          html += `<normal-card
                    card-tmdbId="${item.TMDBID}"
                    card-pageType="${meida_type}"
                    card-resType="${item.TYPE}"
                    card-showSub="0"
                    card-image="${item.POSTER}"
                    card-vote="${item.VOTE}"
                    card-year="${item.YEAR}"
                    card-site="${item.SITE}"
                    card-title="${item.TITLE}"
                    card-overview="${item.TORRENT}"
                    card-date="${item.DATE}"
                   ></normal-card>`;
        html += '</div></div>';
        $("#downloaded_content").append(html);
      }
    });
  }

  $(document).ready(function () {
    $(".page-wrapper").scroll(function () {
      if ($(window).height() + $(this).scrollTop() >= $("#page_content").height() + 50) {
        loading_data();
      }
    });
  });
</script>