<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          站点资源
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- 业务页面代码 -->
{% if Count > 0 %}
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="col-12">
          <div class="row row-cards">
            {% for Site in Sites %}
              <div class="col-md-6 col-xl-3">
                <a class="card card-link"
                   href='javascript:navmenu("resources?site={{ Site.id }}&title={{ Site.name }}")'>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-auto">
                        <span class="avatar rounded siteicon-{{ Site.name|hash }}"></span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">{{ Site.name }}</div>
                        <div class="text-muted">{{ Site.domain }}</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="page-body">
    <div class="container-xl d-flex flex-column justify-content-center">
      <div class="empty">
        <div class="empty-img"><img src="./static/img/sign_in.svg" height="128" alt="">
        </div>
        <p class="empty-title">没有站点</p>
        <p class="empty-subtitle text-muted">
          没有找到任何站点，请正确维护站点信息。
        </p>
      </div>
    </div>
  </div>
{% endif %}