<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          索引器
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="javascript:show_role_modal()" class="btn btn-primary d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <circle cx="14" cy="6" r="2"></circle>
               <line x1="4" y1="6" x2="12" y2="6"></line>
               <line x1="16" y1="6" x2="20" y2="6"></line>
               <circle cx="8" cy="12" r="2"></circle>
               <line x1="4" y1="12" x2="6" y2="12"></line>
               <line x1="10" y1="12" x2="20" y2="12"></line>
               <circle cx="17" cy="18" r="2"></circle>
               <line x1="4" y1="18" x2="15" y2="18"></line>
               <line x1="19" y1="18" x2="20" y2="18"></line>
            </svg>
            过滤规则
          </a>
          <a href="javascript:show_role_modal()" class="btn btn-primary d-sm-none btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <circle cx="14" cy="6" r="2"></circle>
               <line x1="4" y1="6" x2="12" y2="6"></line>
               <line x1="16" y1="6" x2="20" y2="6"></line>
               <circle cx="8" cy="12" r="2"></circle>
               <line x1="4" y1="12" x2="6" y2="12"></line>
               <line x1="10" y1="12" x2="20" y2="12"></line>
               <circle cx="17" cy="18" r="2"></circle>
               <line x1="4" y1="18" x2="15" y2="18"></line>
               <line x1="19" y1="18" x2="20" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 业务页面代码 -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-sm-6 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-jackett">
          <div class="card-cover card-cover-blurred text-center bg-black">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded" style="background-image: url(../static/img/jackett.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Jackett</div>
            <div class="text-muted">{% if Config.pt.search_indexer == "jackett" %}<span class="badge bg-green" title="已开启"></span> 正在使用{% endif %}</div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-prowlarr">
          <div class="card-cover card-cover-blurred text-center bg-orange">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded" style="background-image: url(../static/img/prowlarr.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Prowlarr</div>
            <div class="text-muted">{% if Config.pt.search_indexer == "prowlarr" %}<span class="badge bg-green" title="已开启"></span> 正在使用{% endif %}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-jackett" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Jackett</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label required">API Key <span class="form-help bg-red-lt" title="Jackett管理界面右上角复制API Key" data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.jackett %}{{ Config.jackett.api_key or '' }}{% endif %}" id="jackett.api_key" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label required">Torznab Feeds <span class="form-help bg-red-lt" title="Jackett管理界面Indexer中选择Copy Torznab Feed复制链接，一行配置一个地址，可配置多行" data-bs-toggle="tooltip">?</span></label>
              <textarea rows="5" id="jackett.indexers" class="form-control">{% if Config.jackett %}{{ Config.jackett.indexers|join('\n') }}{% endif %}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_indexer_config('jackett')" id="jackett_test_btn" class="btn me-auto">
          测试
        </a>
        <a href="javascript:save_indexer_config('jackett')" id="jackett_save_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-prowlarr" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Prowlarr</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">服务器地址 <span class="form-help bg-red-lt" title="Prowlarr访问地址，如为https需加https://前缀" data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.prowlarr %}{{ Config.prowlarr.host or '' }}{% endif %}" id="prowlarr.host" class="form-control" placeholder="http://127.0.0.1:9696">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">API Key <span class="form-help bg-red-lt" title="在Prowlarr->Settings->General->Security-> API Key中获取" data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.prowlarr %}{{ Config.prowlarr.api_key or '' }}{% endif %}" id="prowlarr.api_key" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_indexer_config('prowlarr')" id="prowlarr_test_btn" class="btn me-auto">
          测试
        </a>
        <a href="javascript:save_indexer_config('prowlarr')" id="prowlarr_save_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-search-rule" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-search-rule-title">过滤规则 <span class="form-help bg-red-lt" title="部分规则只适用于微信/Telegram/豆瓣等自动匹配下载场景" data-bs-toggle="tooltip">?</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label">包含规则 <span class="form-help bg-red-lt" title="【必须包含的关键字】：只有种子名称中包括这些关键字才会命中&#10;1、对大小写不敏感，不能带引号，配置为空为不启用该规则&#10;2、可以配置普通的关键字，也可以配置正则表达式，可以配置多行&#10;3、多行之间是【与】的关系，即多行条件都包含时才会命中&#10;4、单行内可以用'|'来表示【或】，即包括其一即命中" data-bs-toggle="tooltip">?</span></label>
              <pre id="search_include_pre"></pre>
              <textarea class="form-control" id="search_include" rows="2" placeholder="必须包含的关键字或正则表达式"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label">排除规则 <span class="form-help bg-red-lt" title="【不能包含的关键字】：种子名称中如果有这些关键字则会被跳过&#10;1、对大小写不敏感，不能带引号，配置为空为不启用该规则&#10;2、可以配置普通的关键字，也可以配置正则表达式，可以配置多行&#10;3、多行之间是【与】的关系，即多行条件都不包含时才会跳过&#10;4、单行内可以用'|'来表示【或】，即包括其一即跳过" data-bs-toggle="tooltip">?</span></label>
              <pre id="search_exclude_pre"></pre>
              <textarea class="form-control" id="search_exclude" rows="2" placeholder="不能包含的关键字或正则表达式"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label">优先规则 <span class="form-help bg-red-lt" title="【优先选择的关键字】：种子名称或副标题中如果有这些关键字则会被优先选择，优先级高于站点&#10;1、对大小写不敏感，不能带引号，配置为空为不启用该规则&#10;2、可以配置多行，一行是一个关键字或正则表达式，排前面的优先级高" data-bs-toggle="tooltip">?</span></label>
              <pre id="search_note_pre"></pre>
              <textarea class="form-control" id="search_note" rows="2" placeholder="优先选择的关键字或正则表达式"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div>
              <label class="form-label">大小限制 <span class="form-help bg-red-lt" title="【限制文件大小】：只有满足大小限制的种子文件才会被命中，单位是GB&#10;1、只针对电影有效，配置为0或不配置则不启用该条件&#10;2、对大小写不敏感，不能带引号，配置为空为不启用该条件&#10;3、如只配置1个数字，表示小于等于该大小的才会被命中&#10;4、如配置2个数字(使用英文逗号分隔)，表示在中间大小的才会被命中" data-bs-toggle="tooltip">?</span></label>
              <pre id="search_size_pre"></pre>
              <input type="text" class="form-control" id="search_size" value="" placeholder="限制电影文件大小，单位GB" autocomplete="off">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="rule_close_btn" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          关闭
        </button>
        <button id="save_or_edit_rule_btn" class="btn btn-primary ms-auto">
          编辑/保存
        </button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // 当前处理的类型
  var currType = "";

  // 保存配置
  function save_config(type, func, test){
    currType = type;
    var params = {"test": test||false};
    $("#modal-"+ type +" input").each(function(){
      var key = $(this).attr("id");
      if($(this).attr("type")=="checkbox"){
        var value = $(this).prop("checked") ? true:false;
      }else{
        var value = $(this).val();
      }
      params[key] = value;
    });
    $("#modal-"+ type +" textarea").each(function(){
      var key = $(this).attr("id");
      var value = $(this).val();
      params[key] = value;
    });
    params['pt.search_indexer'] = type;
    ajax_post("update_config", params, func);
  }

  //保存配置、关闭和刷新页面
  function save_indexer_config(type){
    $("#modal-"+type).modal('hide');
    save_config(type, function (ret) {
      navmenu('indexer');
    });
  }

  //保存配置和测试配置
  function test_indexer_config(type){
    $("#" + type + "_test_btn").text("测试中...");
    save_config(type, function (ret) {
      if(currType == "jackett"){
        command = "pt.indexer.jackett|Jackett";
      }else if(currType == "prowlarr"){
        command = "pt.indexer.prowlarr|Prowlarr";
      }
      ajax_post("test_connection", {"command": command}, function(ret){
        if(ret.code == 0){
          $("#" + currType + "_test_btn").text("测试成功");
        }else{
          $("#" + currType + "_test_btn").text("测试失败！");
        }
      });
    }, true);
  }

  //显示搜索规则
  function show_role_info(){
    //隐藏
    $("#search_include").hide();
    $("#search_exclude").hide();
    $("#search_note").hide();
    $("#search_size").hide();
    //显示
    $("#search_include_pre").text($("#search_include").val());
    $("#search_exclude_pre").text($("#search_exclude").val());
    $("#search_note_pre").text($("#search_note").val());
    $("#search_size_pre").text($("#search_size").val());
    $("#search_include_pre").show();
    $("#search_exclude_pre").show();
    $("#search_note_pre").show();
    $("#search_size_pre").show();
  }

  //点击规则按钮
  function show_role_modal(){
    //查询信息
    ajax_post("get_search_rule", {}, function(ret){
      if(ret.rule[0]){
        //赋值
        $("#search_include").val(ret.rule[0][0]);
        $("#search_exclude").val(ret.rule[0][1]);
        $("#search_note").val(ret.rule[0][2]);
        $("#search_size").val(ret.rule[0][3]);
      }
      show_role_info();
      $("#save_or_edit_rule_btn").text("编辑");
      $("#modal-search-rule").modal("show");
    });
  }

  //保存搜索规则
  function save_search_rule(){
    var search_include = $("#search_include").val();
    var search_exclude = $("#search_exclude").val();
    var search_note = $("#search_note").val();
    var search_size = $("#search_size").val();
    if(search_size){
      var reg = /^[0-9,]*$/;
      if(!reg.test(search_size)){
        $("#search_size").addClass("is-invalid");
        return;
      }else{
        $("#search_size").removeClass("is-invalid");
      }
    }
    var data = {"search_include":search_include,"search_exclude":search_exclude,"search_note":search_note,"search_size":search_size}
    ajax_post("update_search_rule", data, function(ret){
      show_role_info();
      $("#save_or_edit_rule_btn").text("编辑");
    });
  }

  //编辑搜索规则
  function edit_role_info(){
    //隐藏
    $("#search_include_pre").hide();
    $("#search_exclude_pre").hide();
    $("#search_note_pre").hide();
    $("#search_size_pre").hide();
    //显示
    $("#search_include").show();
    $("#search_exclude").show();
    $("#search_note").show();
    $("#search_size").show();
  }

  //规则编辑保存
  $("#save_or_edit_rule_btn").click(function(){
      if($("#save_or_edit_rule_btn").text() == "编辑"){
        edit_role_info();
        $("#save_or_edit_rule_btn").text("保存");
      }else{
        save_search_rule();
      }
  });
</script>