<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          媒体服务器
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- 业务页面代码 -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-md-6 col-xl-3">
        <a class="card card-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-emby">
          <div class="card-cover card-cover-blurred text-center bg-green">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded" style="background-image: url(../static/img/emby.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Emby</div>
            <div class="text-muted">{% if Config.media.media_server == "emby" %}<span class="badge bg-green" title="已开启"></span> 正在使用{% endif %}</div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="card card-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-jellyfin">
          <div class="card-cover card-cover-blurred text-center bg-purple">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded" style="background-image: url(../static/img/jellyfin.jpg)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Jellyfin</div>
            <div class="text-muted">{% if Config.media.media_server == "jellyfin" %}<span class="badge bg-green" title="已开启"></span> 正在使用{% endif %}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-emby" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Emby</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">Server</label>
              <input type="text" value="{{ Config.emby.host or '' }}" id="emby.host" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">Api Key</label>
              <input type="text" value="{{ Config.emby.api_key or '' }}" id="emby.api_key" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:save_mediaserver_config('emby')" id="emby_save_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-jellyfin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Jellyfin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">Server</label>
              <input type="text" value="{{ Config.jellyfin.host or '' }}" id="jellyfin.host" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">Api Key</label>
              <input type="text" value="{{ Config.jellyfin.api_key or '' }}" id="jellyfin.api_key" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:save_mediaserver_config('jellyfin')" id="jellyfin_save_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function save_mediaserver_config(type){
    var params = {}
    $("#modal-"+ type +" input").each(function(){
      var key = $(this).attr("id");
      if($(this).attr("type")=="checkbox"){
        var value = $(this).prop("checked") ? true:false;
      }else{
        var value = $(this).val();
      }
      params[key] = value;
    });
    params['media.media_server'] = type;
    $("#modal-"+type).modal('hide');
    ajax_post("update_config", params, function (ret) {
      navmenu('mediaserver');
    });
  }
</script>