<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          媒体服务器
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- 业务页面代码 -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-md-6 col-xl-3">
        <a class="card card-link" href="#">
          <div class="card-cover card-cover-blurred text-center bg-green">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded" style="background-image: url(../static/img/emby.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Emby</div>
            <div class="text-muted">正在使用</div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="card card-link" href="#">
          <div class="card-cover card-cover-blurred text-center bg-purple">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded" style="background-image: url(../static/img/jellyfin.jpg)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Jellyfin</div>
            <div class="text-muted">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

</script>