<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          消息通知
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="javascript:show_messageswitch_modal()" class="btn btn-primary d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z">
              </path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
            推送设置
          </a>
          <a href="javascript:show_messageswitch_modal()" class="btn btn-primary d-sm-none btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z">
              </path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 业务页面代码 -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-wechat">
          <div class="card-cover card-cover-blurred text-center bg-green">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
              style="background-image: url(../static/img/wechat.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">微信</div>
            <div class="text-muted">{% if Config.message.msg_channel == "wechat" %}<span class="badge bg-green"
                title="已开启"></span> 正在使用{% endif %}</div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-telegram">
          <div class="card-cover card-cover-blurred text-center bg-blue">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
              style="background-image: url(../static/img/telegram.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Telegram</div>
            <div class="text-muted">{% if Config.message.msg_channel == "telegram" %}<span class="badge bg-green"
                title="已开启"></span> 正在使用{% endif %}</div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-serverchan">
          <div class="card-cover card-cover-blurred text-center bg-pink">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
              style="background-image: url(../static/img/serverchan.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Server酱</div>
            <div class="text-muted">{% if Config.message.msg_channel == "serverchan" %}<span class="badge bg-green"
                title="已开启"></span> 正在使用{% endif %}</div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-bark">
          <div class="card-cover card-cover-blurred text-center bg-red">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
              style="background-image: url(../static/img/bark.webp)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Bark</div>
            <div class="text-muted">{% if Config.message.msg_channel == "bark" %}<span class="badge bg-green"
                title="已开启"></span> 正在使用{% endif %}</div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-pushplus">
          <div class="card-cover card-cover-blurred text-center" style="background-color: #0693EF">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
              style="background-image: url(../static/img/pushplus.jpg)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">PushPlus</div>
            <div class="text-muted">{% if Config.message.msg_channel == "pushplus" %}<span class="badge bg-green"
                title="已开启"></span> 正在使用{% endif %}</div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop" href="#" data-bs-toggle="modal" data-bs-target="#modal-iyuu">
          <div class="card-cover card-cover-blurred text-center bg-yellow">
            <span class="avatar avatar-xl avatar-thumb avatar-rounded"
              style="background-image: url(../static/img/iyuu.png)">
            </span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">爱语飞飞</div>
            <div class="text-muted">{% if Config.message.msg_channel == "iyuu" %}<span class="badge bg-green"
                title="已开启"></span> 正在使用{% endif %}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-wechat" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">微信</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label required">企业ID <span class="form-help"
                  title="每个企业都拥有唯一的corpid，获取此信息可在管理后台“我的企业”－“企业信息”下查看“企业ID”（需要有管理员权限）"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.wechat %}{{ Config.message.wechat.corpid or '' }}{% endif %}" id="corpid"
                class="form-control">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label required">Secret <span class="form-help"
                  title="自建应用secret。在管理后台->“应用与小程序”->“应用”->“自建”，点进某个应用，即可看到" data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.wechat %}{{ Config.message.wechat.corpsecret or '' }}{% endif %}"
                id="corpsecret" class="form-control">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label required">AgentId <span class="form-help"
                  title="每个应用都有唯一的agentid。在管理后台->“应用与小程序”->“应用”，点进某个应用，即可看到agentid"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.wechat %}{{ Config.message.wechat.agentid or '' }}{% endif %}" id="agentid"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-3">
              <label class="form-label">消息推送代理 <span class="form-help"
                  title="由于微信官方限制，2022年6月20日后创建的企业微信应用需要有固定的公网IP地址并加入IP白名单后才能发送消息，使用有固定公网IP的代理服务器转发可解决该问题；代理服务器需自行搭建，搭建方法可参考项目主页说明"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.wechat %}{% if Config.message.wechat.default_proxy == true %}https://wechat.nastool.cn{% else %}{{ Config.message.wechat.default_proxy or '' }}{% endif %}{% endif %}"
                id="default_proxy" class="form-control" placeholder="https://xxxx.xxxx.xxx">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">Token <span class="form-help"
                  title="在微信企业应用接收消息设置页面生成并填入，填入完成后重启本应用，然后再在微信页面输入地址确定" data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.wechat %}{{ Config.message.wechat.Token or '' }}{% endif %}" id="Token"
                class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">EncodingAESKey <span class="form-help"
                  title="在微信企业应用接收消息设置页面生成并填入，填入完成后重启本应用，然后再在微信页面输入地址确定" data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.wechat %}{{ Config.message.wechat.EncodingAESKey or '' }}{% endif %}"
                id="EncodingAESKey" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_message_config('wechat')" id="wechat_test_btn" class="btn me-auto">
          测试
        </a>
        <a href="javascript:save_message_config('wechat')" id="wechat_save_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-telegram" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Telegram</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">Bot Token <span class="form-help"
                  title="telegram机器人的Token，关注BotFather创建机器人" data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.telegram %}{{ Config.message.telegram.telegram_token or '' }}{% endif %}"
                id="telegram_token" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">Chat Id <span class="form-help" title="telegram中关注getuserID获取"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.telegram %}{{ Config.message.telegram.telegram_chat_id or '' }}{% endif %}"
                id="telegram_chat_id" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label required">User Ids <span class="form-help"
                  title="允许使用telegram机器人的用户Id，留空则只允许管理员使用，使用,分隔多个Id" data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.telegram %}{{ Config.message.telegram.telegram_user_ids or '' }}{% endif %}"
                id="telegram_user_ids" class="form-control" placeholder="允许使用机器人的用户ID，使用,分隔">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="webhook" {% if Config.message.telegram.webhook
                  %}checked{% endif %}>
                <span class="form-check-label">WebHook <span class="form-help"
                    title="Telegram机器人消息有两种模式：WebHook或消息轮循；开启后将使用WebHook方式，需要在基础设置中正确配置好外网访问地址，同时受Telegram官方限制，外网访问地址需要设置为以下端口之一：443, 80, 88, 8443，且需要有公网认证的可信SSL证书；关闭后将使用消息轮循方式，使用该方式时，需要在基础设置->安全处将Telegram ipv4源地址设置为127.0.0.1，推荐关闭WebHook"
                    data-bs-toggle="tooltip">?</span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_message_config('telegram')" id="telegram_test_btn" class="btn me-auto">
          测试
        </a>
        <a href="javascript:save_message_config('telegram')" id="telegram_save_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-serverchan" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Server酱</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label required">SCKEY <span class="form-help"
                  title="填写ServerChan的API Key，SCT类型，在https://sct.ftqq.com/中申请" data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.serverchan %}{{ Config.message.serverchan.sckey or '' }}{% endif %}"
                id="sckey" class="form-control" placeholder="登录https://sct.ftqq.com获取">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_message_config('serverchan')" id="serverchan_test_btn" class="btn me-auto">
          测试
        </a>
        <a href="javascript:save_message_config('serverchan')" id="serverchan_save_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-bark" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bark</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">服务器地址 <span class="form-help"
                  title="自己搭建Bark服务端请实际配置，否则可使用：https://api.day.app" data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.message.bark %}{{ Config.message.bark.server or '' }}{% endif %}"
                id="server" class="form-control" placeholder="https://api.day.app">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label required">API Key <span class="form-help" title="Bark客户端生成的KEY"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="{% if Config.message.bark %}{{ Config.message.bark.apikey or '' }}{% endif %}"
                id="apikey" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_message_config('bark')" id="bark_test_btn" class="btn me-auto">
          测试
        </a>
        <a href="javascript:save_message_config('bark')" id="bark_save_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-pushplus" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">PushPlus</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-3">
            <div class="mb-3">
              <label class="form-label required">用户令牌 <span class="form-help" title="登录http://pushplus.plus/申请token"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.pushplus %}{{ Config.message.pushplus.push_token or '' }}{% endif %}"
                id="push_token" class="form-control">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-3">
              <label class="form-label required">发送渠道 <span class="form-help"
                  title="使用PushPlus中配置的发送渠道，具体参考pushplus.plus官网文档说明，支持第三方webhook、钉钉、飞书、邮箱等"
                  data-bs-toggle="tooltip">?</span></label>
              <select class="form-select" id="push_channel">
                <option value="wechat" {% if Config.message.pushplus %}{% if
                  Config.message.pushplus.push_channel=='wechat' %}selected{% endif %}{% endif %}>微信公众号</option>
                <option value="mail" {% if Config.message.pushplus %}{% if Config.message.pushplus.push_channel=='mail'
                  %}selected{% endif %}{% endif %}>邮箱</option>
                <option value="webhook" {% if Config.message.pushplus %}{% if
                  Config.message.pushplus.push_channel=='webhook' %}selected{% endif %}{% endif %}>第三方webhook</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-3">
              <label class="form-label">群组编码 <span class="form-help" title="PushPlus中创建的群组，如未设置可为空"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.pushplus %}{{ Config.message.pushplus.push_topic or '' }}{% endif %}"
                id="push_topic" class="form-control">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-3">
              <label class="form-label">webhook编码 <span class="form-help"
                  title="PushPlus中创建的webhook编码，发送渠道为第三方webhook时需要填入" data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.pushplus %}{{ Config.message.pushplus.push_webhook or '' }}{% endif %}"
                id="push_webhook" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_message_config('pushplus')" id="pushplus_test_btn" class="btn me-auto">
          测试
        </a>
        <a href="javascript:save_message_config('pushplus')" id="pushplus_save_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-iyuu" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">爱语飞飞</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label required">令牌Token <span class="form-help" title="登录https://iyuu.cn/获取爱语飞飞令牌Token"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text"
                value="{% if Config.message.iyuu %}{{ Config.message.iyuu.iyuu_token or '' }}{% endif %}"
                id="iyuu_token" class="form-control" placeholder="登录https://iyuu.cn获取">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:test_message_config('iyuu')" id="iyuu_test_btn" class="btn me-auto">
          测试
        </a>
        <a href="javascript:save_message_config('iyuu')" id="iyuu_save_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="message-switch-modal" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">推送设置</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label required">推送开关 <span class="form-help" title="选中的项才会推送通知消息"
                  data-bs-toggle="tooltip">?</span></label>
              <div class="form-selectgroup">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="message_switchs" value="download_start" class="form-selectgroup-input" {%
                    if Config.message.switch and Config.message.switch.download_start %}checked{% endif %}>
                  <span class="form-selectgroup-label">新增下载</span>
                </label>
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="message_switchs" value="download_fail" class="form-selectgroup-input" {%
                    if Config.message.switch and Config.message.switch.download_fail %}checked{% endif %}>
                  <span class="form-selectgroup-label">下载失败</span>
                </label>
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="message_switchs" value="transfer_finished" class="form-selectgroup-input"
                    {% if Config.message.switch and Config.message.switch.transfer_finished %}checked{% endif %}>
                  <span class="form-selectgroup-label">转移完成</span>
                </label>
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="message_switchs" value="transfer_fail" class="form-selectgroup-input" {%
                    if Config.message.switch and Config.message.switch.transfer_fail %}checked{% endif %}>
                  <span class="form-selectgroup-label">转移失败</span>
                </label>
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="message_switchs" value="rss_added" class="form-selectgroup-input" {% if
                    Config.message.switch and Config.message.switch.rss_added %}checked{% endif %}>
                  <span class="form-selectgroup-label">新增订阅</span>
                </label>
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="message_switchs" value="rss_finished" class="form-selectgroup-input" {%
                    if Config.message.switch and Config.message.switch.rss_finished %}checked{% endif %}>
                  <span class="form-selectgroup-label">订阅完成</span>
                </label>
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="message_switchs" value="site_signin" class="form-selectgroup-input" {% if
                    Config.message.switch and Config.message.switch.site_signin %}checked{% endif %}>
                  <span class="form-selectgroup-label">站点签到</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:save_message_switch()" id="message_switch_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // 当前处理的类型
  var currType = "";
  // 保存配置
  function save_config(type, func, test) {
    currType = type;
    var cfg_value = {};
    var params = { "test": test || false };
    $("#modal-" + type + " input").each(function () {
      var key = $(this).attr("id");
      if ($(this).attr("type") == "checkbox") {
        var value = $(this).prop("checked") ? true : false;
      } else {
        var value = $(this).val();
      }
      cfg_value[key] = value;
    });
    $("#modal-" + type + " select").each(function () {
      var key = $(this).attr("id");
      cfg_value[key] = $(this).val();
    });
    params["message." + type] = cfg_value;
    params['message.msg_channel'] = type;
    ajax_post("update_config", params, func);
  }

  //保存配置、关闭和刷新页面
  function save_message_config(type) {
    $("#modal-" + type).modal('hide');
    save_config(type, function (ret) {
      navmenu('notification');
    });
  }

  //保存消息开关设置
  function save_message_switch() {
    var params = {};
    $("input[name=message_switchs]").each(function () {
      if ($(this).prop("checked")) {
        params[$(this).val()] = true;
      } else {
        params[$(this).val()] = false;
      }
    });
    ajax_post("update_config", { "message.switch": params }, function () {
      $("#message-switch-modal").modal("hide");
    });
  }

  //保存配置和测试配置
  function test_message_config(type) {
    $("#" + type + "_test_btn").text("测试中...");
    save_config(type, function (ret) {
      if (currType == "bark") {
        command = "app.message.channel.bark|Bark";
      } else if (currType == "wechat") {
        command = ["WeChat().get_status()"];
      } else if (currType == "telegram") {
        command = ["Telegram().get_status()"];
      } else if (currType == "serverchan") {
        command = "app.message.channel.serverchan|ServerChan";
      } else if (currType == "pushplus") {
        command = "app.message.channel.pushplus|PushPlus";
      } else if (currType == "iyuu") {
        command = "app.message.channel.iyuu|IyuuMsg";
      }
      ajax_post("test_connection", { "command": command }, function (ret) {
        if (ret.code == 0) {
          $("#" + currType + "_test_btn").text("测试成功");
        } else {
          $("#" + currType + "_test_btn").text("测试失败！");
        }
      });
    }, true);
  }

  //打开推送设置框
  function show_messageswitch_modal() {
    $("#message-switch-modal").modal("show");
  }
</script>