<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta content="white" name="apple-mobile-web-app-status-bar-style" />
  <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="../static/img/logo.png">
  <link rel="icon" href="apple-touch-icon.png">
  <title>500 - NASTool</title>
  <!-- CSS files -->
  <link href="../static/css/tabler.min.css" rel="stylesheet" />
</head>

<body class=" border-top-wide border-primary d-flex flex-column">
  <div class="page page-center">
    <div class="container-tight py-4">
      <div class="empty">
        <div class="empty-header">500</div>
        <p class="empty-title">出错啦！</p>
        <p class="empty-subtitle text-muted">
          系统出错了，请检查运行日志看看吧...
        </p>
        <div class="empty-action">
          <a href="/" class="btn btn-primary">
            <!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="5" y1="12" x2="19" y2="12" />
              <line x1="5" y1="12" x2="11" y2="18" />
              <line x1="5" y1="12" x2="11" y2="6" />
            </svg>
            返回首页
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Libs JS -->
  <!-- Tabler Core -->
  <script src="./static/js/tabler.min.js"></script>
  <script src="./static/js/demo.min.js"></script>
</body>

</html>