<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="white" name="apple-mobile-web-app-status-bar-style" />
    <title>下载 - NASTool</title>
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/img/logo.png">
    <link rel="icon" href="apple-touch-icon.png">
    <!-- CSS files -->
    <link href="../static/css/tabler.min.css" rel="stylesheet"/>
  </head>
  <body  class="layout-boxed">
    <div class="page">
      <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="/home">
              <img src="../static/img/logo.svg" width="110" height="32" alt="NASTool" class="navbar-brand-image">
            </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-none d-md-flex me-3">
              <div class="btn-list">
                <a href="https://github.com/jxxghp/nas-tools" class="btn" target="_blank" rel="noreferrer">
                  <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
                  Source code
                </a>
              </div>
            </div>
            <div class="d-none d-md-flex">
              <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="暗黑风格" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
              </a>
              <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="明亮风格" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="4" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
              </a>
            </div>
          </div>
        </div>
      </header>
      <div class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="navbar navbar-light">
            <div class="container-xl">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/home" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                    </span>
                    <span class="nav-link-title">
                      开始
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/search">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3" /><line x1="12" y1="12" x2="20" y2="7.5" /><line x1="12" y1="12" x2="12" y2="21" /><line x1="12" y1="12" x2="4" y2="7.5" /><line x1="16" y1="5.25" x2="8" y2="9.75" /></svg>
                    </span>
                    <span class="nav-link-title">
                      影视搜索
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sites" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 11 12 14 20 6" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                    </span>
                    <span class="nav-link-title">
                      站点订阅
                    </span>
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                    </span>
                    <span class="nav-link-title">
                      推荐
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/recommend?t=hm">
                      热门电影
                    </a>
                    <a class="dropdown-item" href="/recommend?t=ht">
                      热门电视剧
                    </a>
                    <a class="dropdown-item" href="/recommend?t=nm">
                      最新电影
                    </a>
                    <a class="dropdown-item" href="/recommend?t=nt">
                      最新电视剧
                    </a>
                  </div>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/download" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                       <polyline points="7 11 12 16 17 11"></polyline>
                       <line x1="12" y1="4" x2="12" y2="16"></line>
                    </svg>
                    </span>
                    <span class="nav-link-title">
                      下载
                    </span>
                  </a>
                </li>
				<li class="nav-item">
                  <a class="nav-link" href="/service" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="6" height="5" rx="2" /><rect x="4" y="13" width="6" height="7" rx="2" /><rect x="14" y="4" width="6" height="7" rx="2" /><rect x="14" y="15" width="6" height="5" rx="2" /></svg>
                    </span>
                    <span class="nav-link-title">
                      服务
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-wrapper">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">
                  下载
                </h2>
              </div>
            </div>
          </div>
        </div>
        {% if DownloadCount > 0 %}
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              {% for Torrent in Torrents %}
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-3">
                        <img src="{{ Torrent.image }}" class="rounded">
                      </div>
                      <div class="col">
                        <h3 class="card-title mb-1">
                          <a class="text-reset">{{ Torrent.title }}</a>
                        </h3>
                        <div class="text-muted" id="speed_text_{{ Torrent.id }}">
                          {{ Torrent.speed }}
                        </div>
                        <div class="mt-3">
                          <div class="row g-2 align-items-center">
                            <div class="col-auto" id="progress_text_{{ Torrent.id }}">
                              {{ Torrent.progress }}%
                            </div>
                            <div class="col">
                              <div class="progress progress-sm">
                                <div class="progress-bar" id="progress_{{ Torrent.id }}" style="width: {{ Torrent.progress }}%" role="progressbar" aria-valuenow="{{ Torrent.progress }}" aria-valuemin="0" aria-valuemax="100">
                                  <span class="visually-hidden"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="dropdown">
                          <a href="#" class="btn-action" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="1" /><circle cx="12" cy="19" r="1" /><circle cx="12" cy="5" r="1" /></svg>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a href="javascript:start_pt_download('{{ Torrent.id }}')" id="start_btn_{{ Torrent.id }}" class="dropdown-item" style="{% if Torrent.state == 'Downloading' %}display:none{% endif %}">开始</a>
                            <a href="javascript:stop_pt_download('{{ Torrent.id }}')" id="stop_btn_{{ Torrent.id }}" class="dropdown-item" style="{% if Torrent.state == 'Stoped' %}display:none{% endif %}">暂停</a>
                            <a href="javascript:remove_pt_download('{{ Torrent.id }}')" class="dropdown-item text-danger">删除</a>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" class="download_ids" id="id_{{ Torrent.id }}" value="{{ Torrent.id }}">
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% else %}
        <div class="page-wrapper">
        <div class="container-xl">
        </div>
        <div class="page-body">
          <div class="container-xl d-flex flex-column justify-content-center">
            <div class="empty">
              <div class="empty-img"><img src="./static/img/quitting_time.svg" height="128"  alt="">
              </div>
              <p class="empty-title">没有记录</p>
              <p class="empty-subtitle text-muted">
                当前没有正在下载的项目...
              </p>
            </div>
          </div>
        </div>
        {% endif %}
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2022
                    <a href="." class="link-secondary">NASTool</a>.
                    All rights reserved.
                  </li>
                  <li class="list-inline-item">
                    {{ AppVersion }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="../static/js/tabler.min.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/demo.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script type="text/javascript">
      // 下载控制
      function start_pt_download(id){
          var cmd = "pt_start";
          var param = {"id": id};
          ajax_post(cmd, param, function(ret){
            get_torrent_info(ret.id)
          });
      }
      function stop_pt_download(id){
          var cmd = "pt_stop";
          var param = {"id": id};
          ajax_post(cmd, param, function(ret){
            get_torrent_info(ret.id)
          });
      }
      function remove_pt_download(id){
          var cmd = "pt_remove";
          var param = {"id": id};
          ajax_post(cmd, param, function(ret){
            setTimeout("window.location.reload()", 1000)
          });
      }

      //更新所有种子页面信息
      function get_all_torrents_info(){
          var cmd = "pt_info";
          var ids = [];
          var i = 0;
          $(".download_ids").each(function(){
            ids[i] = $(this).val();
            i++;              
          });
          if(ids.length == 0){
            return;
          }
          var param = {"ids": ids};
          ajax_post(cmd, param, function(ret){
            if(ret.retcode == "0"){
              for (var i=0;i<ret.torrents.length;i++)
              { 
                update_torrent_ui(ret.torrents[i]);
              }
              setTimeout("get_all_torrents_info()", 2000);
            }
          });
      }

      //更新一个种子页面信息
      function get_torrent_info(id){
        var cmd = "pt_info";
          var param = {"ids": id};
          ajax_post(cmd, param, function(ret){
            if(ret.retcode == "0"){
              for (var i=0;i<ret.torrents.length;i++)
              { 
                update_torrent_ui(ret.torrents[i]);
              }   
            }         
          });
      }


      //更新单个种子的页面信息
      function update_torrent_ui(info){
          $("#speed_text_" + info.id).text(info.speed);
          $("#progress_text_" + info.id).text(info.progress + "%");
          $("#progress_" + info.id).attr("style", "width: " + info.progress + "%");
          $("#progress_" + info.id).attr("aria-valuenow", info.progress);
          if(info.state == "Stoped"){
            $("#start_btn_" + info.id).show()
            $("#stop_btn_" + info.id).hide()
          }else{
            $("#start_btn_" + info.id).hide()
            $("#stop_btn_" + info.id).show()
          }
      }

      //绑定事件
      $(document).ready(function(){
          setTimeout("get_all_torrents_info()", 2000)
      });

    </script>
  </body>
</html>