<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASTool {{ app_version }}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/tagsinput.css') }}" rel="stylesheet">

	<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tagsinput.js') }}"></script>
	<script src="{{ url_for('static', filename='js/util.js') }}"></script>

</head>
<body>
<div class="container"><div class="tabbable">
	<ul class="nav nav-tabs border" role="tablist" id="myTab">
		<li class="nav-item"><a id="key_tab" class="nav-link {% if page=='key' %} active {% endif %}" href="#key" data-toggle="tab" role="tab" aria-controls="key" aria-selected="{% if page=='key' %} true {% endif %}"><h6>订阅</h6></a></li>
		<li class="nav-item"><a id="rss_tab" class="nav-link {% if page=='rss' %} active {% endif %}" href="#rss" data-toggle="tab" role="tab" aria-controls="rss" aria-selected="{% if page=='rss' %} true {% endif %}"><h6>站点</h6></a></li>
		<li class="nav-item"><a id="sch_tab" class="nav-link {% if page=='sch' %} active {% endif %}" href="#sch" data-toggle="tab" role="tab" aria-controls="sch" aria-selected="{% if page=='sch' %} true {% endif %}"><h6>服务</h6></a></li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane show {% if page=='key' %} active {% endif %}" id="key" role="tabpanel" aria-labelledby="key-tab">
			<form role="form" action="/do" method="post" id="key_form" class="form-horizontal">
				<fieldset>
					<legend>订阅关键字</legend>
				   <div class="row col-md-12">
					   <input class="form-control input-large" data-role="tagsinput" id="pt_keys" name="pt_keys" type="text" placeholder="" value="{{ keys_cfg_list }}"/>
				   </div>
				</fieldset>
				<br/>
				<div style="text-align:center"><button id="key_btn" type="button" class="btn btn-primary">保存</button></div>
			</form>
		</div>
		<div class="tab-pane show {% if page=='rss' %} active {% endif %}" id="rss" role="tabpanel" aria-labelledby="rss-tab">
			<form role="form" action="/do" method="post" id="rss_form" class="form-horizontal">
				{% for rss_cfg in rss_cfg_list %}
				<fieldset>
					<legend>{{ rss_cfg.job }}</legend>
				   <div class="row">
					   <div class="form-group col-md-6">
						  <label class="control-label" for="{{ rss_cfg.job }}@rssurl">RSS Url</label>
						   <input class="form-control" id="{{ rss_cfg.job }}@rssurl" name="{{ rss_cfg.job }}@rssurl" type="text" placeholder="" value="{{ rss_cfg.url }}"/>
					   </div>
					   <div class="form-group col-md-6">
						  <label class="control-label" for="{{ rss_cfg.job }}@res_type">资源类型(BluRay 4k 1080p 720p)</label>
						   <input class="form-control" data-role="tagsinput" id="{{ rss_cfg.job }}@res_type" name="{{ rss_cfg.job }}@res_type" type="text" placeholder="" value="{{ rss_cfg.res_type }}"/>
					   </div>
				   </div>
					<div class="row">
						<div class="form-group col-md-6">
						  <label class="control-label" for="{{ rss_cfg.job }}@signin_url">签到Url</label>
							<input class="form-control" id="{{ rss_cfg.job }}@signin_url" name="{{ rss_cfg.job }}@signin_url" type="text" placeholder="" value="{{ rss_cfg.signin_url }}"/>
						</div>
						<div class="form-group col-md-6">
						  <label class="control-label" for="{{ rss_cfg.job }}@cookie">Cookie</label>
							<input class="form-control" id="{{ rss_cfg.job }}@cookie" name="{{ rss_cfg.job }}@cookie" type="text" placeholder="" value="{{ rss_cfg.cookie }}"/>
						</div>
				   </div>
				</fieldset>
				{% endfor %}
				<br/>
			  	<div style="text-align:center"><button id="rss_btn" type="button" class="btn btn-primary">保存</button></div>
			</form>
		</div>
		<div class="tab-pane show {% if page=='sch' %} active {% endif %}" id="sch" role="tabpanel" aria-labelledby="sch-tab">
			<form role="form" action="" method="post" id="svr_form" class="well">
			<table class="table table-striped">
			  <thead>
				<tr>
					<th>名称</th>
					<th>周期</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			  </thead>
			  <tbody>
			  {% for scheduler_cfg in scheduler_cfg_list %}
				<tr>
					<td>{{ scheduler_cfg.name }}</td>
					<td>{{ scheduler_cfg.time }}</td>
					<td>{{ scheduler_cfg.state }}</td>
					<td><button type="button" id="btn_{{ scheduler_cfg.id }}" class="sch_action_btn btn btn-primary">启动</button></td>
				</tr>
			  {% endfor %}
			  </tbody>
			</table>
			</form>
			<div id="sch_ret" class="alert alert-success alert-dismissible" style="display:none"></div>
		</div>
	</div>
</div></div>
</body>
</html>