<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nas-Tools</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='js/ace.js') }}"></script>
	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
	<style type="text/css" media="screen">
		#editor {
			width:100%;
			height:500px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li {% if page=="rss" %} class="active" {% endif %}><a id="rss_tab" href="#rss" data-toggle="tab">订阅</a></li>
						<li {% if page=="rmt" %} class="active" {% endif %}><a id="rmt_tab" href="#rmt" data-toggle="tab">转移</a></li>
						<li {% if page=="msg" %} class="active" {% endif %}><a id="msg_tab" href="#msg" data-toggle="tab">消息</a></li>
						<li {% if page=="sch" %} class="active" {% endif %}><a id="sch_tab" href="#sch" data-toggle="tab">服务</a></li>
						{% if log_type=="MYSQL" %}
						<li {% if page=="log" %} class="active" {% endif %}><a id="log_tab" href="#log" data-toggle="tab">日志</a></li>
						{% endif %}
						<li {% if page=="set" %} class="active" {% endif %}><a id="set_tab" href="#set" data-toggle="tab">设置</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane {% if page=='rmt' %} active {% endif %}" id="rmt">
							<form role="form" action="/do" method="post" id="rmt_form" class="well">
							  <h5>自动转移识别失败时，指定媒体信息，手动转移qBittorrent下载完成的文件到媒体库</h5>
							  <div class="form-group">
								<label for="rmt_name">标题</label>
								<input type="text" class="form-control" id="rmt_name" name="rmt_name" placeholder="" value="">
							  </div>
							  <div class="form-group">
								<label for="rmt_type">类型</label>
								  <select class="form-control" id="rmt_type" name="rmt_type">
									  <option value ="">全部</option>
									  <option value ="电影">电影</option>
									  <option value ="电视剧">电视剧</option>
								  </select>
							  </div>
							  <div class="form-group">
								<label for="rmt_year">年份</label>
								<input type="text" class="form-control" id="rmt_year" name="rmt_year" placeholder="" value="">
							  </div>
							  <div class="form-group">
								<label for="rmt_season">季</label>
								<input type="text" class="form-control" id="rmt_season" name="rmt_season" placeholder="" value="">
							  </div>
							  <div class="form-group">
								<label for="rmt_path">文件</label>
								  <select class="form-control" id="rmt_path" name="rmt_path">
									  <option value ="">全部</option>
								  </select>
							  </div>
							  <div class="form_notice" id="form_send_form_notice"></div>
							  <button id="rmt_btn" type="button" class="btn btn-primary">转移</button>
							</form>
							<pre id="rmt_ret" style="display:none"></pre>
						</div>
						<div class="tab-pane {% if page=='rss' %} active {% endif %}" id="rss">
							<form role="form" action="/do" method="post" id="rss_form" class="form-horizontal">
							  <h5>配置PT站RSS订阅源过滤关键字，自动下载命中关键字的资源，注意要符合数组格式</h5>
								{% for rss_cfg in rss_cfg_list %}
								<fieldset>
									<legend>{{ rss_cfg.job }}</legend>
								   <div class="form-group">
									  <label class="col-sm-2 control-label" for="{{ rss_cfg.job }}_rssurl">RSS URL</label>
									  <div class="col-sm-4">
										 <input class="form-control" id="{{ rss_cfg.job }}_rssurl" name="{{ rss_cfg.job }}_rssurl" type="text" placeholder="" value="{{ rss_cfg.url }}"/>
									  </div>
									  <label class="col-sm-2 control-label" for="{{ rss_cfg.job }}_movie_type">电影分类名</label>
									  <div class="col-sm-4">
										 <input class="form-control" id="{{ rss_cfg.job }}_movie_type" name="{{ rss_cfg.job }}_movie_type" type="text" placeholder="" value="{{ rss_cfg.movie_type }}"/>
									  </div>
								   </div>
								   <div class="form-group">
									  <label class="col-sm-2 control-label" for="{{ rss_cfg.job }}_movie_re">电影关键字</label>
									  <div class="col-sm-4">
										 <input class="form-control" id="{{ rss_cfg.job }}_movie_re" name="{{ rss_cfg.job }}_movie_re" type="text" placeholder="" value="{{ rss_cfg.movie_re }}"/>
									  </div>
									  <label class="col-sm-2 control-label" for="{{ rss_cfg.job }}_tv_re">电视剧关键字</label>
									  <div class="col-sm-4">
										 <input class="form-control" id="{{ rss_cfg.job }}_tv_re" name="{{ rss_cfg.job }}_tv_re" type="text" placeholder="" value="{{ rss_cfg.tv_re }}"/>
									  </div>
								   </div>
								</fieldset>
  								{% endfor %}
							  <div style="text-align:center"><button id="rss_btn" type="button" class="btn btn-primary">保存</button></div>
							</form>
							<br/>
							<br/>
						</div>
						<div class="tab-pane {% if page=='msg' %} active {% endif %}" id="msg">
							<form role="form" action="/do" method="post" id="msg_form" class="well">
							  <h5>消息发送工具</h5>
							  <div class="form-group">
								<label for="msg_title">消息标题</label>
								<input type="text" class="form-control" id="msg_title" name="msg_title" placeholder="必填，最长100字节" value="">
							  </div>
							  <div class="form-group">
								<label for="msg_text">消息内容</label>
								<div><textarea id="msg_text" name="msg_text" class="form-control" rows="3" placeholder="消息内容，最长1000字节"></textarea></div>
							  </div>
							  <div class="form_notice"></div>
								<button id="msg_btn" type="button" class="btn btn-primary">发送</button>
							</form>
							<pre id="msg_ret" style="display:none"></pre>
						</div>
						<div class="tab-pane {% if page=='set' %} active {% endif %}" id="set">
							<form role="form" action="/do" method="post" id="set_form" class="well">
								<h5>配置文件，可直接修改保存</h5>
								<div class="form-group">
									<div id="editor"></div>
								</div>
								<button id="set_btn" type="button" class="btn btn-primary">保存</button>
							</form>
						</div>
						<div class="tab-pane {% if page=='sch' %} active {% endif %}" id="sch">
							<form role="form" action="" method="post" id="svr_form" class="well">
							<h5>所有的后台定时及实时监测服务</h5>
							<table class="table table-striped">
							  <thead>
								<tr>
								  	<th>名称</th>
								  	<th>周期</th>
									<th>状态</th>
								  	<th>操作</th>
								</tr>
							  </thead>
							  <tbody>
							  {% for scheduler_cfg in scheduler_cfg_list %}
								<tr>
								  	<td>{{ scheduler_cfg.name }}</td>
								  	<td>{{ scheduler_cfg.time }}</td>
									<td>{{ scheduler_cfg.state }}</td>
								  	<td><button id="sch_btn_autoremovetorrents" type="button" class="sch_action_btn btn btn-primary">启动</button></td>
								</tr>
							  {% endfor %}
							  </tbody>
							</table>
							<pre id="sch_ret" style="display:none"></pre>
							</form>
						</div>
						<div class="tab-pane {% if page=='log' %} active {% endif %}" id="log">
							<table id="log_table" class="table table-striped">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>