{% import 'macro/svg.html' as SVG %}
{% if Count > 0 %}
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        {% for Media in Medias %}
          <div class="col-12 col-xl-6">
            <div class="card rounded-3"
               style="padding:0 0; overflow:hidden">
            {% if Media.vote_average %}
              <div class="ribbon ribbon-top ribbon-bookmark bg-purple">{{ Media.vote_average }}</div>
            {% endif %}
            <div class="row" style="max-height:240px; overflow:hidden">
              <div class="col-4 col-md-3 col-lg-4 col-xl-3" style="padding:0 0">
                <span class="badge badge-pill {% if Media.type== '电影' %}bg-green{% else %}bg-blue{% endif %}"
                    style="position:absolute;top:10px;left:10px;">{{ Media.type}}</span>
                <custom-img img-src="{% if Media.poster_path %}{{ Media.poster_path }}{% else %}../static/img/no-image.png{% endif %}"
                            img-class="w-100 h-100 object-cover shadow-sm"
                            img-ratio="150%"
                ></custom-img>
              </div>
              <div class="col">
                <div class="card-body p-1 pt-3">
                  <h2>
                    <a href='javascript:navmenu("discovery_detail?type={{ Media.type}}&id={{ Media.tmdb_id }}&fav={{ Media.fav }}")'>
                      {{ Media.title }} <span class="text-muted">({{ Media.year }})</span>
                    </a>
                  </h2>
                  <div>
                     <a href="{{ Media.link }}" target="_blank" >
                      <span class="badge badge-outline {% if Media.fav == 2 %}text-green{% else %}text-orange{% endif %} mb-1">
                        {% if Media.tmdb_id is string and Media.tmdb_id.startswith('DB') %}
                          {{ Media.tmdb_id[3:] }}{% else %}{{ Media.tmdb_id }}{% endif %}
                      </span>
                    </a>
                  </div>
                  <div class="text-muted mb-3">
                    {{ Media.overview|truncate(50, True) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <a href='javascript:add_medialist_rss_media("{{ Media.title }}","{{ Media.year }}","{{ Media.type}}","{{ Media.tmdb_id }}")'
                 class="card-btn">
                <span class="me-2 text-muted">{{ SVG.rss() }}</span>
                订阅
              </a>
              <a href='javascript:media_search("{{ Media.tmdb_id }}", "{{ Media.title }}", "{{ Media.type}}")'
                 class="card-btn">
                <span class="me-2 text-muted">{{ SVG.search() }}</span>
                搜索
              </a>
            </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div class="page-body">
    <div class="container-xl d-flex flex-column justify-content-center">
      <div class="empty">
        <div class="empty-img"><img src="./static/img/posting_photo.svg" height="128" alt="">
        </div>
        <p class="empty-title" id="search_tip_title">未找到数据</p>
        <p class="empty-subtitle text-muted" id="search_tip_text">
          没有找到任何电影、电视剧叫这个名字："{{ SearchWord }}"
        </p>
        {% if OperType == 'search' %}
          <div class="empty-action">
            <a href='javascript:navmenu("search?s={{ SearchWord }}")' class="btn btn-primary">
              {{ SVG.arrow_left() }}
              返回
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<script type="text/javascript">

  //点击订阅按钮
  function add_medialist_rss_media(name, year, type, mediaid) {
    if (type === "电影") {
      type = "MOV";
    } else {
      type = "TV";
    }
    if (type === "MOV") {
      add_rss_media(name, year, type, mediaid);
    } else {
      ajax_post("get_tvseason_list", {tmdbid: mediaid}, function (ret) {
        if (ret.seasons.length === 1) {
          add_rss_media(name, year, type, mediaid);
        } else if (ret.seasons.length > 1) {
          show_rss_seasons_modal(name, year, type, mediaid, ret.seasons);
        } else {
          show_fail_modal(`${name} 添加RSS订阅失败：未查询到季信息！`);
        }
      });
    }
  }

</script>