<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          服务
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- 业务页面代码 -->
{% if Count > 0 %}
<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-12">
        <div class="row row-cards">
          {% for Scheduler in SchedulerTasks %}
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm card-link-pop">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-{{ Scheduler.color }} text-white avatar">
                      {{ Scheduler.svg|safe }}
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      <a href="javascript:show_service_modal('{{ Scheduler.id }}','{{ Scheduler.name }}')"
                        id="service_btn">{{ Scheduler.name }}</a>
                    </div>
                    <div class="text-muted">
                      {{ Scheduler.time }}
                    </div>
                  </div>
                  {% if Scheduler.state == "ON" %}
                  <div class="col-auto align-self-center">
                    <div class="badge bg-primary"></div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="page-body">
  <div class="container-xl d-flex flex-column justify-content-center">
    <div class="empty">
      <div class="empty-img"><img src="./static/img/sign_in.svg" height="128" alt="">
      </div>
      <p class="empty-title">没有服务</p>
      <p class="empty-subtitle text-muted">
        没有开启任何后台服务。
      </p>
    </div>
  </div>
</div>
{% endif %}
<div class="modal modal-blur fade" id="modal-logging" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">实时日志</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          id="logging_close_head"></button>
      </div>
      <div class="modal-body" id="logging_content" style="display:flex; flex-direction:column-reverse;font-size:12px;">
      </div>
      <div class="modal-footer">
        <a href="javascript:pause_logging()" class="btn btn-link link-secondary me-auto" id="logging_stop_btn">
          暂停
        </a>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="logging_close_btn">关闭</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  //刷新LOG标志
  var refresh_logging_flag = false
  //开始刷新日志
  function start_logging() {
    refresh_logging_flag = true;
    refresh_logging();
  }
  //停止刷新日志
  function stop_logging() {
    refresh_logging_flag = false;
  }
  //刷新日志
  function refresh_logging(flag) {
    ajax_post("logging", {}, function (ret) {
      if (ret.text) {
        $("#logging_content").append(ret.text);
        var height = $('#logging_content').prop("scrollHeight");
        $('#logging_content').scrollTop(height);
      }
      if($("#modal-logging").is(":hidden") && flag){
        stop_logging();
      }
      if (refresh_logging_flag == true) {
        setTimeout("refresh_logging(true)", 2000);
      }
    });
  }

  // 显示服务提示框
  function show_service_modal(id, name) {
    if (id == "logging") {
      $('#modal-logging').modal('show');
      start_logging();
    } else {
      show_ask_modal("是否立即运行 " + name + "？", function () {
        hide_ask_modal();
        run_scheduler(id, name);
      });
    }
  }

  // 运行服务
  function run_scheduler(id, name) {
    var cmd = "sch";
    var data = { "item": id };
    ajax_post(cmd, data, function (ret) {
      show_success_modal(name + " 服务启动成功，正在后台运行");
    });
  }

  //暂停实时日志
  function pause_logging() {
    if (refresh_logging_flag == true) {
      stop_logging();
      $("#logging_stop_btn").text("开始")
    } else {
      start_logging();
      $("#logging_stop_btn").text("暂停")
    }
  }

  //实时日志关闭
  $("#logging_close_btn").click(function () {
    stop_logging();
  });

  $("#logging_close_head").click(function () {
    stop_logging();
  });

</script>