<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          服务
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- 业务页面代码 -->
{% if Count > 0 %}
<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-12">
        <div class="row row-cards">
          {% for Scheduler in SchedulerTasks %}
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-{{ Scheduler.color }} text-white avatar">
                      {{ Scheduler.svg|safe }}
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      <a href="javascript:show_service_modal('{{ Scheduler.id }}','{{ Scheduler.name }}')"
                        id="service_btn">{{ Scheduler.name }}</a>
                    </div>
                    <div class="text-muted">
                      {{ Scheduler.time }}
                    </div>
                  </div>
                  {% if Scheduler.state == "ON" %}
                  <div class="col-auto align-self-center">
                    <div class="badge bg-primary"></div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="page-body">
  <div class="container-xl d-flex flex-column justify-content-center">
    <div class="empty">
      <div class="empty-img"><img src="./static/img/sign_in.svg" height="128" alt="">
      </div>
      <p class="empty-title">没有服务</p>
      <p class="empty-subtitle text-muted">
        没有开启任何后台服务。
      </p>
    </div>
  </div>
</div>
{% endif %}
<div class="modal modal-blur fade" id="service-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-title">确认提示</div>
        <div id="service_start_message">是否确定立即运行服务？</div>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="service_start_id" />
        <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger" id="service_start_btn">确定</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="service-modal-success" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-success"></div>
      <div class="modal-body text-center py-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="12" cy="12" r="9" />
          <path d="M9 12l2 2l4 -4" />
        </svg>
        <h3>成功</h3>
        <input type="hidden" id="service_start_name" />
        <div class="text-muted" id="service_finished_str">服务已在后台运行...</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn btn-success w-100" data-bs-dismiss="modal">
                确定
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-logging" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">实时日志</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          id="logging_close_head"></button>
      </div>
      <div class="modal-body" id="logging_content" style="display:flex; flex-direction:column-reverse;font-size:12px;">
      </div>
      <div class="modal-footer">
        <a href="javascript:pause_logging()" class="btn btn-link link-secondary me-auto" id="logging_stop_btn">
          暂停
        </a>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="logging_close_btn">关闭</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  //刷新LOG标志
  var refresh_logging_flag = false
  //开始刷新日志
  function start_logging() {
    refresh_logging_flag = true;
    refresh_logging();
  }
  //停止刷新日志
  function stop_logging() {
    refresh_logging_flag = false;
  }
  //刷新日志
  function refresh_logging() {
    ajax_post("logging", {}, function (ret) {
      if (ret.text) {
        $("#logging_content").html(ret.text);
        var height = $('#logging_content').prop("scrollHeight");
        $('#logging_content').scrollTop(height);
        if (refresh_logging_flag == true) {
          setTimeout("refresh_logging()", 2000);
        }
      }
    });
  }

  // 显示服务提示框
  function show_service_modal(id, name) {
    if (id == "logging") {
      start_logging();
      $('#modal-logging').modal('show');
    } else {
      $("#service_start_id").val(id);
      $("#service_start_name").val(name);
      $("#service_start_message").text("是否立即运行 " + name + "？");
      $('#service-modal').modal('show');
    }
  }

  // 运行服务
  function run_scheduler(id) {
    var cmd = "sch";
    var data = { "item": id };
    ajax_post(cmd, data, function (ret) {
      item = $("#service_start_name").val();;
      $("#service_finished_str").text(item + " 服务启动成功，将在后台运行。");
      $("#service-modal-success").modal('show');
    });
  }

  //暂停实时日志
  function pause_logging() {
    if (refresh_logging_flag == true) {
      stop_logging();
      $("#logging_stop_btn").text("开始")
    } else {
      start_logging();
      $("#logging_stop_btn").text("暂停")
    }
  }

  //服务模态框事件
  $("#service_start_btn").click(function () {
    $('#service-modal').modal('hide');
    run_scheduler($("#service_start_id").val());
  });

  //实时日志关闭
  $("#logging_close_btn").click(function () {
    stop_logging();
  });
  $("#logging_close_head").click(function () {
    stop_logging();
  });

</script>