<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=0">
    <meta name="Robots" content="noindex,nofollow,noarchive">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="NAStool">
    <meta name="description" content="组件开发效果预览">
    <meta name="format-detection" content="telephone=no">
    <meta name="referrer" content="never">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="msapplication-TileColor" content="#1e293b"/>
    <meta name="theme-color" content="#1e293b"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <title>组件开发效果预览</title>
    <!-- CSS files -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/tabler.min.css" rel="stylesheet"/>
    <link href="../static/css/demo.min.css" rel="stylesheet"/>
    <link href="../static/css/fullcalendar.min.css" rel="stylesheet"/>
    <link href="../static/css/jquery.filetree.css" rel="stylesheet"/>
    <link href="../static/css/dropzone.css" rel="stylesheet"/>
    <link href="../static/css/nprogress.css" rel="stylesheet"/>
    <link href="../static/css/jsoneditor.min.css" rel="stylesheet"/>
    <!-- 附加样式 -->
    <link href="../static/css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="page">
        <script src="../static/js/demo-theme.min.js"></script>
        <script type="module" src="../static/components/lit-index.js"></script>
        <script src="../static/js/libs/list.min.js"></script>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script src="../static/js/tabler.min.js"></script>
        <script src="../static/js/demo.min.js"></script>
        <script src="../static/js/echarts.min.js"></script>
        <script src="../static/js/numeral.min.js"></script>
        <script src="../static/js/fullcalendar.min.js"></script>
        <script src="../static/js/locales/zh-cn.js"></script>
        <script src="../static/js/jquery.filetree.js"></script>
        <script src="../static/js/dropzone-min.js"></script>
        <script src="../static/js/dom-to-image.min.js"></script>
        <script src="../static/js/FileSaver.min.js"></script>
        <script src="../static/js/nprogress.js"></script>
        <script src="../static/js/jsoneditor.min.js"></script>
        <script src="../static/js/util.js"></script>
        <layout-navbar></layout-navbar>
        <layout-searchbar
            layout-username="测试名称"
            layout-systemflag="Docker"
            layout-userpris='["无内容"]'
            ></layout-searchbar>
        <div class="page-wrapper page-wrapper-top px-lg-2" id="page_wrapper">
            <custom-img></custom-img>
        </div>
    </div>
</body>
</html>