<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          电影订阅
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-movie-rss">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            新增订阅
          </a>
          <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-movie-rss">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% if Count > 0 %}
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      {% for Item in Items %}
      <div class="col-md-4 col-xl-3">
        <a class="card card-link" href="javascript:show_media_info('{{ Item[0] }}', '{{ Item[1] }}', '{{ Item[2] }}')" title="{{ Item[4] }}">
          <div class="text-center rounded">
            <img class="rounded-top" src="{{ Item[3] }}">
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">
              {% if Item[1] %}
              {{ Item[0] }} ({{ Item[1] }})
              {% else %}
              {{ Item[0] }}
              {% endif %}
            </div>
            <div class="text-muted">
              <span class="badge
              {% if Item[5] == 'D' %}
              bg-gray
              {% elif Item[5] == 'S' %}
              bg-orange
              {% elif Item[5] == 'R' %}
              bg-green
              {% else %}
              bg-blue
              {% endif %}
              "></span>
              {% if Item[5] == "D" %}
              队列中
              {% elif Item[5] == "S" %}
              正在搜索
              {% elif Item[5] == "R" %}
              正在订阅
              {% else %}
              完成
              {% endif %}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="page-body">
  <div class="container-xl d-flex flex-column justify-content-center">
    <div class="empty">
      <div class="empty-img"><img src="./static/img/sign_in.svg" height="128"  alt="">
      </div>
      <p class="empty-title">没有记录</p>
      <p class="empty-subtitle text-muted">
        当前没有正在订阅的电影。
      </p>
    </div>
  </div>
</div>
{% endif %}
<div class="modal modal-blur fade" id="modal-movie-rss" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">新增订阅</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="form-label required">电影</label>
          <div class="row g-2">
            <div class="col-8">
              <input type="text" value="" id="movie_name" class="form-control" placeholder="标题">
            </div>
            <div class="col-4">
              <input type="text" value="" id="movie_year" class="form-control" placeholder="年份">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:add_rss_movie()" id="rss_add_btn" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="rss-modal-failed" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-warning"></div>
      <div class="modal-body text-center py-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-warning icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
        <h3>失败</h3>
        <div class="text-muted" id="rss_failed_str">添加RSS订阅失败！</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn btn-warning w-100" data-bs-dismiss="modal">
                确定
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-media-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="ribbon ribbon-top ribbon-bookmark" id="media_vote"></div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-3">
              <img src="" class="rounded" id="media_poster">
            </div>
            <div class="col vtop">
              <h4 class="card-title mb-3">
                <a href="#" target="_blank" id="media_link"><strong id="media_name"></strong></a><br/>
                <span class="text-muted" id="release_date"></span>
              </h4>
              <div class="text-muted" id="media_overview">
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <a href="javascript:remove_rss_media()" class="card-btn">
          取消订阅
          </a>
          <a href="#" class="card-btn" data-bs-dismiss="modal">
          关闭
          </a>
          <input type="hidden" id="media_title">
          <input type="hidden" id="media_year">
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  //新增订阅
  function add_rss_movie(){
    name = $("#movie_name").val();
    year = $("#movie_year").val();
    if (!name) {
      $("#movie_name").addClass("is-invalid");
      return;
    } else {
      $("#movie_name").removeClass("is-invalid");
    }
    if (year && isNaN(year)) {
      $("#movie_year").addClass("is-invalid");
      return;
    } else {
      $("#movie_year").removeClass("is-invalid");
    }
    var cmd = "add_rss_media";
    var data = { "name": name, "type": "MOV", "year": year};
    $("#modal-movie-rss").modal("hide");
    $("#modal-wait").modal("show");
    ajax_post(cmd, data, function(ret){
      $("#modal-wait").modal("hide");
      if(ret.code==0){
        navmenu("movie_rss");
      }else{
        $("#rss_failed_str").text(name + " 添加RSS订阅失败："+ ret.msg +"！");
        $("#rss-modal-failed").modal('show');
      }
    });
  }

  //显示媒体详情
  function show_media_info(name, year, id){
    $("#media_title").val(name);
    $("#media_year").val(year);
    $("#modal-wait").modal("show");
    ajax_post("media_info", {"id": id, "type": "MOV"}, function(ret){
      $("#modal-wait").modal("hide");
      if(ret.code == 0){
        $("#media_vote").text(ret.vote_average);
        $("#media_poster").attr("src", ret.poster_path);
        $("#media_name").text(ret.title);
        $("#media_link").attr("href", "https://www.themoviedb.org/movie/" + ret.id);
        $("#media_overview").text(ret.overview);
        $("#release_date").text(ret.release_date)
        $("#modal-media-modal").modal("show");
      }
    });
  }

  // 模枋框事件
  function remove_rss_media(){
    $("#modal-media-modal").modal("hide");
    var name = $("#media_title").val();
    var year = $("#media_year").val();
    var cmd = "remove_rss_media";
    var data = { "name": name, "type": "MOV", "year": year};
    ajax_post(cmd, data, function(ret){
      navmenu("movie_rss");
    });
  }
</script>