<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          电视剧订阅
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="javascript:show_add_tvrss_media_modal()" class="btn btn-primary d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            新增订阅
          </a>
          <a href="javascript:show_add_tvrss_media_modal()" class="btn btn-primary d-sm-none btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% if Count > 0 %}
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      {% for Item in Items %}
      <div class="col-12 col-md-4 col-xl-3">
        <a class="card card-link card-link-pop rounded-3" href='javascript:{% if Item[3] %}show_mediainfo_modal("TV", "{{ Item[0] }}", "{{ Item[1] }}", "{{ Item[3] }}", "tv_rss", "{{ Item[10] }}"){% else %}show_edit_rss_media_modal("{{ Item[10] }}", "TV"){% endif %}'>
          <div class="text-center" style="overflow:hidden">
            <img class="rounded-top w-100" src="{{ Item[4] }}" style="border-top-left-radius:8px !important; border-top-right-radius:8px !important; object-fit:cover; max-height:170px;">
          </div>
          <div class="card-progress">
            <div class="progress-bar bg-green" style="width: {{ Item[9] or 0 }}%" role="progressbar" aria-valuenow="{{ Item[9] or 0 }}" aria-valuemin="0" aria-valuemax="100">
              <span class="visually-hidden">{{ Item[9] }}%</span>
            </div>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">
              {% if Item[1] %}
              {{ Item[0] }} ({{ Item[1] }}) {% if Item[2] != "S00" %}{{ Item[2] }}{% endif %}
              {% else %}
              {{ Item[0] }} {% if Item[2] != "S00" %}{{ Item[2] }}{% endif %}
              {% endif %}
            </div>
            <div class="text-muted">
              <span class="badge
              {% if Item[8] == 'D' %}
              bg-gray
              {% elif Item[8] == 'S' %}
              bg-orange
              {% elif Item[8] == 'R' %}
              bg-green
              {% else %}
              bg-blue
              {% endif %}
              "></span>
              {% if Item[8] == "D" %}
              队列中
              {% elif Item[8] == "S" %}
              正在搜索
              {% elif Item[8] == "R" %}
              正在订阅 {% if Item[6] > 0 %}({{ Item[6] - Item[7] }}/{{ Item[6] }}){% endif %}
              {% else %}
              完成
              {% endif %}
            </div>
            {% if Item[5]|rss_filter_string %}
            <div class="text-muted border-top pt-2 mt-2">
              <small>{{ Item[5]|rss_filter_string|safe }}</small>
            </div>
            {% endif %}
            {% if Item[5]|rss_sites_string %}
            <div class="text-muted {% if not Item[5]|rss_filter_string %}border-top pt-2 mt-2{% endif %}">
              <small>{{ Item[5]|rss_sites_string|safe }}</small>
            </div>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="page-body">
  <div class="container-xl d-flex flex-column justify-content-center">
    <div class="empty">
      <div class="empty-img"><img src="./static/img/sign_in.svg" height="128"  alt="">
      </div>
      <p class="empty-title">没有记录</p>
      <p class="empty-subtitle text-muted">
        当前没有正在订阅的电视剧。
      </p>
    </div>
  </div>
</div>
{% endif %}

<script type="text/javascript">

  // 显示新增订阅
  function show_add_tvrss_media_modal(){
    $("#rss_id").val("");
    $("#rss_type").val("TV");
    $("#rss_tmdbid").val("");
    $("#rss_modal_title").text("新增订阅");
    $("#key_match").prop("checked", false);
    $("#rss_search_sites_div").show();
    $("#rss_tv_season_div").show();
    $("#over_edition").prop("checked", false);
    $("#rss_name").attr("readonly", false);
    $("#rss_year").attr("readonly", false);
    $("#rss_delete_btn").hide();
    $("#rss_name").attr("readonly", false);
    $("#rss_year").attr("readonly", false);
    $("#modal-manual-rss").modal('show');
  }

</script>