body, .page {
    height: 100%;
    overflow: hidden;
}

.tooltip-inner {
    text-align: left;
}

.fileTree {
    width: 240px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    display: none;
}

.jsoneditor-mode-code {
    border: 1px solid var(--tblr-border-color) !important;
}

.dropzone {
    border: 1px dashed var(--tblr-border-color) !important;
}

.navbar {
    min-height: 3rem !important;
}

.navbar .input-group-flat:focus-within {
    box-shadow: none;
}

.navbar-vertical {
    padding-top: env(safe-area-inset-top) !important;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

.navbar-expand-md {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

@media (max-width: 992px) {
    .navbar ul.navbar-nav {
      overflow-y: auto;
      max-height: 80vh;
    }
}

.page-wrapper {
    margin-top: calc(env(safe-area-inset-top) + 51px) !important;
    height: 100% !important;
    overflow: scroll !important;
}

.offcanvas {
    padding-top: env(safe-area-inset-top) !important;
}

.modal-dialog {
    padding-top: env(safe-area-inset-top) !important;
}


.fc-toolbar-title {
    font-size: 1.5em !important;
}

.fc-list-event .media_calendar_item_info {
    display: block !important;
}

.fc .fc-list-event:hover td {
    background-color: rgba(200, 200, 200, 0.1) !important;
}

.lit-normal-card {
    position:relative;
    z-index:1;
    --tblr-aspect-ratio:150%;
    border:none;
}

.lit-normal-card:hover {
    transform:scale(1.05, 1.05);
    opacity:1;
}

.lit-media-info-background {
    background-image:
        linear-gradient(180deg, rgba(var(--tblr-body-bg-rgb),0.5) 50%, rgba(var(--tblr-body-bg-rgb),1) 100%),
        linear-gradient(90deg, rgba(var(--tblr-body-bg-rgb),0) 90%, rgba(var(--tblr-body-bg-rgb),1) 100%),
        linear-gradient(270deg, rgba(var(--tblr-body-bg-rgb),0) 90%, rgba(var(--tblr-body-bg-rgb),1) 100%);
    box-shadow:0 0 0 2px rgb(var(--tblr-body-bg-rgb));
}

.lit-media-info-image {
    width:233px;
    height:350px;
}

@media (max-width: 767.98px) {
    .lit-media-info-image {
        width:150px;
        height:225px;
    }
}

.lit-person-card {
    position:relative;
    z-index:1;
    --tblr-aspect-ratio:150%;
    border:none;
    box-shadow:0 0 0 1px #888888 inset,0 .125rem .25rem rgba(0,0,0,0.2);
    background-image:linear-gradient(45deg,#99999b,#637599 60%);
}

.lit-person-card:hover {
    transform:scale(1.05, 1.05);
    opacity:1;
    box-shadow:0 0 0 1px #bbbbbb inset;
    background-image:linear-gradient(45deg,#bbbbbd,#8597aa 60%);
}

.grid-normal-card {
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
}

.grid-media-card {
    grid-template-columns: repeat(auto-fill,minmax(9.375rem,1fr));
}

.grid-info-card {
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
}