html {
    --safe-area-inset-top: 0px;
    min-height: calc(100% + env(safe-area-inset-top)  + var(--safe-area-inset-top));
}

body, .page {
    min-height: 100%;
}

.theme-light .page {
    background-image: linear-gradient(180deg, rgba(123, 178, 233, 0.4) 0%, rgba(231, 235, 239, 1) 60%);
}

.theme-dark .page {
    background-image: linear-gradient(180deg, var(--tblr-body-bg) 0%, var(--tblr-bg-surface) 50%);
}

.tooltip-inner {
    text-align: left;
}

.fileTree {
    width: 240px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    display: none;
}

.dropzone {
    border: 1px dashed var(--tblr-border-color) !important;
}


@media (max-width: 992px) {
    .navbar ul.navbar-nav {
      overflow-y: auto;
      max-height: 80vh;
    }
}

.page-wrapper {
    padding-top: calc(env(safe-area-inset-top) + var(--safe-area-inset-top) + 51px) !important;
    padding-left: env(safe-area-inset-left) !important;
    overflow: hidden !important;
}

.page-wrapper-top-off {
    margin-top: calc(0px - env(safe-area-inset-top) - var(--safe-area-inset-top) - 51px) !important;
}

#navbar-menu {
    box-shadow: none!important;
    border:0!important;
}

.offcanvas {
    padding-top: calc(env(safe-area-inset-top) + var(--safe-area-inset-top)) !important;
    padding-left: env(safe-area-inset-left) !important;
}

.modal-dialog {
    padding-top: calc(env(safe-area-inset-top) + var(--safe-area-inset-top)) !important;
}


.fc-toolbar-title {
    font-size: 1.5em !important;
}

.fc-list-event .media_calendar_item_info {
    display: block !important;
}

.fc .fc-list-event:hover td {
    background-color: rgba(200, 200, 200, 0.1) !important;
}

.lit-normal-card {
    position:relative;
    z-index:1;
    --tblr-aspect-ratio:150%;
    border:none;
}

.lit-normal-card:hover {
    transform:scale(1.05, 1.05);
    opacity:1;
}

.lit-media-info-background {
    background-image:
        linear-gradient(180deg, rgba(var(--tblr-body-bg-rgb),0) 50%, rgba(var(--tblr-body-bg-rgb), 1) 100%),
        linear-gradient(90deg, rgba(var(--tblr-body-bg-rgb),0) 50%, rgba(var(--tblr-body-bg-rgb), 1) 100%),
        linear-gradient(270deg, rgba(var(--tblr-body-bg-rgb),0) 50%, rgba(var(--tblr-body-bg-rgb), 1) 100%);
    box-shadow:0 0 0 2px rgb(var(--tblr-body-bg-rgb));
}

.theme-light .lit-media-info-background {
    background-image:
        linear-gradient(180deg, rgba(231, 235, 239, 0) 50%, rgba(231, 235, 239, 1) 100%),
        linear-gradient(90deg, rgba(231, 235, 239, 0) 50%, rgba(231, 235, 239, 1) 100%),
        linear-gradient(270deg, rgba(231, 235, 239, 0) 50%, rgba(231, 235, 239, 1) 100%);
    box-shadow:0 0 0 2px rgb(231, 235, 239);
}

.lit-media-info-image {
    width:233px;
    height:350px;
}

@media (max-width: 767.98px) {
    .lit-media-info-image {
        width:150px;
        height:225px;
    }
}

.lit-person-card {
    position:relative;
    z-index:1;
    --tblr-aspect-ratio:150%;
    border:none;
    box-shadow:0 0 0 1px #888888 inset,0 .125rem .25rem rgba(0,0,0,0.2);
    background-image:linear-gradient(45deg,#99999b,#637599 60%);
}

.lit-person-card:hover {
    transform:scale(1.05, 1.05);
    opacity:1;
    box-shadow:0 0 0 1px #bbbbbb inset;
    background-image:linear-gradient(45deg,#bbbbbd,#8597aa 60%);
}

.grid-normal-card {
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
}

.grid-media-card {
    grid-template-columns: repeat(auto-fill,minmax(9.375rem,1fr));
}

.grid-info-card {
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
}

.offcanvas-backdrop.show {
    opacity: 0.5 !important;
    background-color: #000 !important;
}

.select_logger{
    display:flex;
    align-items: center;
}

.select_logger h5{
    padding-right:5px
}