<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4 border-end">
          <div class="card-body">
            <h4 class="subheader">目录</h4>
            <div class="input-icon mb-2">
              <span class="input-icon-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-folders" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M9 4h3l2 2h5a2 2 0 0 1 2 2v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2"></path>
                  <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2h2"></path>
                </svg>
              </span>
              <input type="text" id="mediafile_path" value="{{ Dir }}" class="form-control" placeholder="/"
                aria-label="Search in website">
            </div>
            <div id="mediafile_tree" style="overflow-y: auto;"></div>
          </div>
        </div>
        <div class="col d-flex flex-column d-none d-md-block">
          <div class="card-header">
            <div class="d-flex">
              <div class="text-muted">
                共 <span id="mediafile_num">0</span> 个文件
              </div>
            </div>
            <div class="card-actions btn-actions">
              <a href="javascript:mediafile_transfer_all()" class="btn-action" title="转移当前目录">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-transform" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 13v.875c0 3.383 2.686 6.125 6 6.125"></path>
                  <circle cx="6" cy="6" r="3"></circle>
                  <circle cx="18" cy="18" r="3"></circle>
                  <path d="M16 9l2 2l2 -2"></path>
                  <path d="M18 10v-.875c0 -3.383 -2.686 -6.125 -6 -6.125"></path>
                  <path d="M3 15l2 -2l2 2"></path>
               </svg>
              </a>
              <a href="javascript:mediafile_findlinks_all()" class="btn-action" title="查询所有文件硬链接">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path>
                   <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="card-body">
            <input type="hidden" id="mediafile_current_dir">
            <div class="row row-cards">
              <div class="space-y" id="mediafile_file_container" style="overflow-y: auto;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-mediafile-modify" tabindex="-1" role="dialog" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">文件重命名</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="form-label required">文件名</label>
                    <div class="row mb-3">
                        <input type="hidden" id="mediafile_modify_path">
                        <input type="text" value="" id="mediafile_modify_name" class="form-control" placeholder="新文件名">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link me-auto" data-bs-dismiss="modal">取消</button>
                <a href="javascript:modify_media_file()" id="mediafile_modify_btn" class="btn btn-primary">确定</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

  //刷新文件列表
  function refresh_files(folder) {
    if (folder) {
      $("#mediafile_current_dir").val(folder);
    } else {
      folder = $("#mediafile_current_dir").val();
    }    
    ajax_post("get_sub_path", { "dir": folder, "filter": "MEDIAFILE|SUBFILE" }, function (ret) {
      $("#mediafile_file_container").empty();
      if (ret.data) {
        $("#mediafile_num").text(ret.count);
        for (let i = 0; i < ret.data.length; i++) {
          let filepath = ret.data[i].path;
          let fileext = ret.data[i].ext;
          let filename = ret.data[i].name;
          let filesize = ret.data[i].size;
          let template_html = $("#mediafile_item_template").text();
          debugger;
          $("#mediafile_file_container").append(
            template_html.replaceAll("{FILEEXT}", fileext)
              .replaceAll("{FILENAME}", filename.replace("'", "&apos;"))
              .replaceAll("{FILESIZE}", filesize + "B")
              .replaceAll("{FILEPOS}", i)
              .replaceAll("{FILEPATH}", filepath.replace("'", "&apos;"))
          );
        }
      }
    });
  }

  // 初始化文件树
  function init_mediafile_tree() {
    let ft = $('#mediafile_tree');
    ft.empty();
    ft.fileTree(
      {
        script: 'dirlist',
        root: $("#mediafile_path").val(),
        filter: 'HIDE_FILES_FILTER',
        allowBrowsing: true
      },
      function (file) {
      },
      function (folder) {
        refresh_files(folder);
      });
    refresh_files($("#mediafile_path").val());
  }

  // 回车响应
  $('#mediafile_path').bind('keypress', function (event) {
    if (event.keyCode == "13") {
      if (!$(this).val()) {
        return;
      }
      init_mediafile_tree();
    }
  });

  // 识别测试
  function mediafile_name_test(name, result_div) {
    if (!name) {
      return;
    }
    show_wait_process()
    media_name_test(name, result_div, function () {
      hide_wait_process()
    });
  }

  // 文件转移
  function mediafile_transfer(name, id){
    let path = $("#mediafilepath_" + id).val();
    show_manual_transfer_modal(3, path, '', '', '', '');
  }

  function mediafile_transfer_all(){
    let path = $("#mediafile_current_dir").val();
    show_manual_transfer_modal(3, path, '', '', '', '');
  }

  // 文件重命名
  function show_mediafile_rename_modal(name, id){
    let path = $("#mediafilepath_" + id).val();
    $("#mediafile_modify_path").val(path);
    $("#mediafile_modify_name").val(name);
    $("#modal-mediafile-modify").modal('show');
  }

  function modify_media_file(){
    let path = $("#mediafile_modify_path").val();
    let name = $("#mediafile_modify_name").val();
    ajax_post("rename_file", {path: path, name: name}, function(ret){
      $("#modal-mediafile-modify").modal('hide');
      refresh_files();
    });
  }

  // 文件删除
  function mediafile_delete(name, id){
    let path = $("#mediafilepath_" + id).val();
    show_confirm_modal("是否确认删除文件 " + name + "？", function(){
      ajax_post("delete_file", {path: path}, function(ret){
      hide_confirm_modal();
      refresh_files();
    });
    });

  }

  // 下载字幕
  function mediafile_subtitle(name, id){
    let path = $("#mediafilepath_" + id).val();
    show_wait_process();
    ajax_post("download_subtitle", {path: path, name: name}, function(ret){
      hide_wait_process();
      if (ret.code == 0){
        show_success_modal(ret.msg, function(){
          refresh_files();
        });
      } else {
        show_fail_modal(ret.msg + "！");
      }
    });
  }

  // 查询硬链接
  function mediafile_findlinks(name, id){
    let path = $("#mediafilepath_" + id).val();
  }

  // 查询所有硬链接
  function mediafile_findlinks_all(){
    let path = $("#mediafile_modify_path").val();
  }

  // 设置高度
  function set_mediafile_height(){
    let height = $(window).height();
    $("#mediafile_tree").css("height", (height - 240) + "px");
    $("#mediafile_file_container").css("height", (height - 225) + "px");
  }

  // 初始列表
  init_mediafile_tree();

  // 初始化高度
  set_mediafile_height();
  $(window).bind('resize', function (){
    set_mediafile_height();
  });

</script>
<script type="text" id="mediafile_item_template">
    <div class="card card-link-pop">
      <div class="row g-0">
        <div class="col-auto">
          <div class="p-2">
            <div class="avatar avatar-md">{FILEEXT}</div>
          </div>
        </div>
        <div class="col">
          <div class="p-2 ps-0">
            <div class="row">
              <div class="col">
                <h3 class="mb-0"><a href='javascript:mediafile_transfer("{FILENAME}", "{FILEPOS}")'>{FILENAME}</a></h3>
                <div id="testresults_{FILEPOS}" class="text-muted"></div>
                <input type="hidden" value="{FILEPATH}" id="mediafilepath_{FILEPOS}">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mt-3 list-inline list-inline-dots mb-0 text-muted">
                  <div class="list-inline-item d-none d-lg-block">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-info" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                          <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                          <path d="M11 14h1v4h1"></path>
                          <path d="M12 11h.01"></path>
                      </svg>
                      {FILESIZE}
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="mt-3 badges">
                  <a href='javascript:mediafile_name_test("{FILENAME}", "testresults_{FILEPOS}")' class="badge badge-outline text-muted border fw-normal badge-pill mb-1">识别</a>
                  <a href='javascript:mediafile_transfer("{FILENAME}", "{FILEPOS}")' class="badge badge-outline text-muted border fw-normal badge-pill mb-1">转移</a>
                  <a href='javascript:mediafile_subtitle("{FILENAME}", "{FILEPOS}")' class="badge badge-outline text-muted border fw-normal badge-pill mb-1">下载字幕</a>
                  <a href='javascript:mediafile_findlinks("{FILENAME}", "{FILEPOS}")' class="badge badge-outline text-muted border fw-normal badge-pill mb-1">硬链接查询</a>
                  <a href='javascript:show_mediafile_rename_modal("{FILENAME}", "{FILEPOS}")' class="badge badge-outline text-muted border fw-normal badge-pill mb-1">重命名</a>
                  <a href='javascript:mediafile_delete("{FILENAME}", "{FILEPOS}")' class="badge badge-outline text-muted border fw-normal badge-pill mb-1">删除</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>