<div class="container-xl" id="media_slide_content">
</div>
<script type="text/javascript">

  init_data();
  function init_data(){
    let media_slide_list = {
      "tv": [
        {title:"TMDB最新电视剧",
        type :"nt",
        click:"javascript:navmenu('recommend?t=nt')",
        },
        {title:"TMDB热门电视剧",
        type :"ht",
        click:"javascript:navmenu('recommend?t=ht')",
        },
        {title:"豆瓣热门电视剧",
        type :"dbht",
        click:"javascript:navmenu('recommend?t=dbht')",
        },
        {title:"豆瓣热门动漫",
        type :"dbdh",
        click:"javascript:navmenu('recommend?t=dbdh')",
        },
        {title:"豆瓣热门综艺",
        type :"dbzy",
        click:"javascript:navmenu('recommend?t=dbzy')",
        },
        {title:"Bangumi每日放送",
        type :"bangumi",
        click:"javascript:navmenu('recommend?t=bangumi')",
        },
      ],
      "movie":[
        {title:"正在热映",
        type :"dbom",
        click:"javascript:navmenu('recommend?t=dbom')",
        },
        {title:"即将上映",
        type :"dbnm",
        click:"javascript:navmenu('recommend?t=dbnm')",
        },
        {title:"TMDB最新电影",
        type :"nm",
        click:"javascript:navmenu('recommend?t=nm')",
        },
        {title:"TMDB热门电影",
        type :"hm",
        click:"javascript:navmenu('recommend?t=hm')",
        },
        {title:"豆瓣热门电影",
        type :"dbhm",
        click:"javascript:navmenu('recommend?t=dbhm')",
        },
        {title:"豆瓣电影TOP250",
        type :"dbtop",
        click:"javascript:navmenu('recommend?t=dbtop')",
        }
      ]
    }
    for (let slide of media_slide_list["{{ DiscoveryType }}"]){
      // 获取media_slide组件
      let media_slide = document.querySelector(`#media_slide_${slide.type}`);
      if (!media_slide){
        // 创建media_slide组件
        $("#media_slide_content").append(`
          <media-slide id="media_slide_${slide.type}"
            slide-title="${slide.title}"
            slide-icon="${slide.icon}"
            slide-click="${slide.click}"
          ></media-slide>
        `);
        media_slide = document.querySelector(`#media_slide_${slide.type}`);
      }
      // 获取数据
      if (slide.type && slide.type != "media_server"){
        // 需要确保自定义组件已经被浏览器初始化成功, 因为要调用组件内部的自定义方法
        window.customElements.whenDefined("media-slide").then(function(){
          // 判断media_slide组件是否需要获取数据
          if (media_slide?.is_placeholder()){
            ajax_post("get_recommend", { "type": slide.type, "page": 1 }, function (ret) {
              if (ret.Items.length > 0){
                // 更新组件内容
                media_slide.update_slide_card(ret.Items, slide.type);
              }
            });
          }
        })
      }
    }
  }
</script>