{% import 'macro/oops.html' as OOPS %}
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title" id="recommend_title"></h2>
        <div class="text-muted mt-1" id="recommend_subtitle"></div>
      </div>
    </div>
  </div>
</div>
<!-- 业务页面代码 -->
<div class="page-body">
  <div class="container-xl">
    <div class="row" id="recommend_content">
    </div>
  </div>
</div>
<script type="text/javascript">
  // 当前页码
  var CurrentPage = {{ CurrentPage }};

  // 类型 MOV/TV/BANGUMI
  var Type = '{{ Type }}';

  // 子类型
  var SubType = '{{ SubType }}';

  // 标题
  var Title = '{{ Title }}';
  $("#recommend_title").text(Title);

  // 子标题
  var SubTitle = '{{ SubTitle or "" }}';
  if (SubTitle) {
    $("#recommend_subtitle").text(SubTitle).show();
  } else {
    $("#recommend_subtitle").hide();
  }

  // 星期
  var Week = '{{ Week }}';

  // TMDBID
  var TmdbId = '{{ TmdbId }}';

  // 演员ID
  var PersonId = '{{ PersonId }}';

  // 关键字
  var Keyword = '{{ Keyword }}';

  // 插入N个占位卡片 代替loading动画
  var page_card_num = 20;
  function add_loading_card_placeholder() {
    for (let i = 0; i < page_card_num; i++) {
      let html = '<div class="mb-3 col-6 col-md-3 col-xl-2" id="loading_card_placeholder_' + i + '"><normal-card-placeholder></normal-card-placeholder></div>';
      $("#recommend_content").append(html);
    }
  }

  // 移除占位卡片
  function del_loading_card_placeholder() {
    $("div[id^='loading_card_placeholder_']").each(function(){
      $(this).remove();
    })
  }


  //状态标记
  var loading = false;
  function loading_data() {
    if (loading || CurrentPage > 10) {
      return;
    }
    loading = true;
    add_loading_card_placeholder();
    ajax_post("get_recommend", {
      "type": Type,
      "subtype": SubType,
      "page": CurrentPage,
      "week": Week,
      "tmdbid": TmdbId,
      "personid": PersonId,
      "keyword": Keyword
    }, function (ret) {
      if (ret.Items.length > 0) {
        // 记录页码
        CurrentPage++;
        sessionStorage.CurrentPage = CurrentPage;
        loading = false;
        page_card_num = ret.Items.length;
      } else {
        if (CurrentPage == 1) {
          $("#recommend_content").html($("#no_recommend_html").text());
        }
      }
      del_loading_card_placeholder();
      // 插入HTML
      for (let i = 0; i < ret.Items.length; i++) {
        let item = ret.Items[i];
        let html = '';
        html += '<div class="mb-3 col-6 col-md-3 col-xl-2">';
          html += `<normal-card
                    card-tmdbId="${item.id}"
                    card-pageType="${item.type}"
                    card-showSub="1"
                    card-image="${item.image}"
                    card-weekday="${item.weekday}"
                    card-fav="${item.fav}"
                    card-vote="${item.vote}"
                    card-year="${item.year}"
                    card-title="${item.title}"
                    card-overview="${item.overview}"
                   ></normal-card>`;
        html += '</div>';
        $("#recommend_content").append(html);
      }
      window_history();
    });
  }

  $(document).ready(function () {
    $(".page-wrapper").scroll(function () {
      if ($(window).height() + $(this).scrollTop() >= $("#page_content").height() + 50) {
        loading_data();
      }
    });
  });

  // 后退时sessionStorage.CurrentPage 未被清除, 则更新当前页码
  if (sessionStorage.CurrentPage) {
    CurrentPage = sessionStorage.CurrentPage;
  } else {
    // 否则初始化数据
    loading_data();
  }

</script>
<script type="text/html" id="no_recommend_html">
{{ OOPS.empty('没有数据。', '') }}
</script>